<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit My Health Conditions
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Edit Condition</ion-label>
      <ion-input type="text" [(ngModel)]="condition_term"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button item-right (click)="changeCondition()">Update</button>
</ion-content>
