notification {
  .unwantedChildA > a:first-child {
    display: none !important;
  }
  .smallText {
    font-size: 1.2rem;
  }
  ion-label{
    white-space: inherit;
  }
  //ion-item-options {
  //  border: 0 !important;
  //}
  //.extraPadding {
  //  padding-top: 40px;
  //}
  //ion-item-divider {
  //  position: fixed !important;
  //  z-index: 99;
  //}
  //ion-item-divider.item-md {
  //  width: 96%;
  //}
  //ion-item-divider.item-ios {
  //  margin-top: 1px;
  //  width: 100.5%;
  //}
}
