<ion-list>
  <ion-item-group>
    <!--<ion-item-divider color="light">Notifications</ion-item-divider>-->
    <ion-item-divider sticky color="light">
      Notifications
      <button ion-button item-right clear (click)="clearAll()">
        Clear All
      </button>
      <button ion-button item-right clear (click)="close()">
        Close
      </button>
    </ion-item-divider>
    <div *ngIf="notifications.length <= 0" class="extraPadding">
      <ion-item >
        <p>No unread notification found.</p>
      </ion-item>
    </div>
    <div *ngIf="notifications.length > 0" class="extraPadding">
      <ion-item-sliding *ngFor="let notification of notifications; let i = index;">
        <ion-item>
          <ion-avatar item-left>
            <img src="{{notification.image_url}}" onError="this.src='assets/img/only_logo.png';">
          </ion-avatar>
          <h2>{{notification.firstname}} {{notification.lastname}}</h2>
          <!--<p class="unwantedChildA" [innerHtml]="notification.firstname + ' ' + notification.lastname + ' ' + notification.message"></p>-->
          <p class="unwantedChildA" [innerHtml]="notification.message"></p>
          <p class="smallText">{{notification.added}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button expandable (click)="clear(i)">Clear</button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-item-group>
</ion-list>
