<ion-content>
  <ion-card class="login_img">
    <img src="assets/img/login.jpg"/>
  </ion-card>
  <form (ngSubmit)="loginSubmit()">
    <ion-list>
      <ion-item class="login_field">
        <ion-label stacked>Email
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="email" [(ngModel)]="userData.email" name="email" required></ion-input>
      </ion-item>
      <ion-item class="login_field">
        <ion-label stacked>Password
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" name="password" required></ion-input>
      </ion-item>
    </ion-list>
    <div padding class="login_button">
      <button type="submit" primary_grediant ion-button round full icon-right>
        Login Now!
        <ion-icon name="log-in"></ion-icon>
      </button>
      <p text-center> Not A member?
        <button type="button" purple text-button small (click)="openSignupPage()">Click here to Create Account</button>
      </p>
      <p text-center> <button type="button" purple text-button small (click)="openForgetPage()">Forget Password?</button>
      </p>
    </div>
  </form>
</ion-content>
