page-login {
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    ion-label{
      font-size: 1.5rem !important;
    }
  }
  @media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    ion-label{
      font-size: 1.5rem !important;
    }
  }
  .login_field {

    ion-icon {
      right:15px;
      padding-top: 15px;
      font-size:30px;
      position:absolute;
      color:#343434;
    }
    ion-label{
      color:#0f56a4;
      text-transform: uppercase;
      font-size: 22px;
      padding-top: 10px;
    }

  }
  ion-content{

    .login_img{
      margin:0;
      width:100%;
      z-index: 9;
      position: relative;
      box-shadow:none;
    }.logo_cent img{
       width: 30%;
       margin: 0 auto;
       display: table;
       position: absolute;
       z-index: 999;
       bottom: -2px;
       left: 0;
       right: 0;
     }
  }
  .login_logo_area{
    margin: 0;
    width: 100%;
    background: #e5f2f7;
    z-index: 99;
    position: relative;
    box-shadow: none;
    padding: 0 0 19px !important;

    .card-title {
      img{
        width: 80%;
        margin: 0 auto;
      }
    }
    .card-subtitle {
      text-align: center;
      margin-top: 10px;
      text-transform: uppercase;
    }

  }
}
