<!--
  Generated template for the Appointment page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="customContent">
  <ion-tabs [selectedIndex]="autoSelected">
    <ion-tab tabIcon="arrow-back" tabTitle="Past" [root]="appointment_past" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab tabIcon="close" tabTitle="Cancel" [root]="appointment_cancel" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab tabIcon="arrow-forward" tabTitle="Upcoming" [root]="appointment_upcoming" tabsHideOnSubPages="true"></ion-tab>
  </ion-tabs>
</ion-content>
