page-appointment {

  ion-content {

    @import "../../theme/IpadStyle_text";

   
  }
  .toolbar-content {
    //text-align: center;
    .button {
      padding: 0 7px;
      color: #343434;
      margin: 0;
      height: auto;
      span {
        font-size: 12px;
        ion-icon {
          padding-right: 10px;
        }
      }
    }
  }
  .content.customContent {
    background: url(../assets/img/message-bg.jpg) !important;

    .item {
      padding-left: 7px;
    }
    .list > .item-block {
      border-bottom: 0.55px solid #e7eaef !important;
    }
    .list .item-block .item-inner {
      border-bottom: 0;
    }
    .content .item ion-avatar ion-img, .content .item ion-avatar img {
      border: 2px solid #d3dceb;
      padding: 3px;
      width: 50px;
      height: 50px;
    }
    .content .item ion-avatar[item-left] {
      margin: 0 10px 0 0;
      position: relative;
    }
    .button-clear {
      float: right;
      padding: 0;
      margin: 0;
      height: auto;
      color: #565656;
    }
    .message-clock p {
      font-size: 12px;
      padding-top: 0;
    }
    .label {
      white-space: inherit;
    }
    .label h2 {
      font-size: 17px;
      color: #0f2e64;

    }
    .label p {
      font-size: 12px;
    }

    .fab-ios-light {
      color: #fff;
      background-color: #b70e81;
    }
    ion-list.myCustomList {
      margin: 10px 0 10px 10px;
      ion-label {
        margin: 0 !important;
      }
      ion-item {
        border: 0 !important;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        margin-bottom: 10px;
        padding: 0 0 !important;
        ion-avatar {
          position: relative !important;
          width: 60px;
          height: 60px;

          img {
            width: 60px !important;
            height: 60px !important;
          }
        }
      }
      ion-item.active {
        background: #1448a2;
        color: #fff;

        ion-note {
          margin: 0 !important;
          width: 70%;
        }
        ion-icon {
          color: #fff;
        }
        .active-btn {

          button {
            color: #fff;
            width: 25%;
            ion-icon {
              display: block;
              width: 100%;
              font-size: 26px;

            }
            span {
              display: block;
              font-size: 9px;
              border-left: 1px solid #2560c7;
              padding: 0 5px;
            }

          }
        }
      }
    }
  }
}

