<ion-navbar>
  <button ion-button menuToggle icon-only>
    <ion-icon name='menu'></ion-icon>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
  <ion-buttons end>
    <button *ngIf="appointmentTime" ion-button icon-only (click)="openWaitingRoom()"
            tooltip="Your appointment is about to start" positionV="bottom" positionH="right" arrow="true"
            duration="0" [active]="isTooltipActive">
      {{appointmentTime}}
    </button>
    <button ion-button icon-only (click)="openOptions($event)">
      <ion-icon name="more"></ion-icon>
    </button>
    <!--<button *ngIf="isSettings" ion-button icon-only (click)="openSettings()">-->
      <!--<ion-icon name="settings"></ion-icon>-->
    <!--</button>-->
  </ion-buttons>
</ion-navbar>
<ion-navbar subheader>
  <ion-buttons start>
    <button ion-button icon-only (click)="openProfileCompletionLinks()">
      <ion-item>
        <ion-avatar item-left>
          <!--<img src="assets/img/profile.jpg">-->
          <!--<img src="{{data.userData.image | defaultimage | async}}">-->
          <img src="{{data.userData.image}}" onError="this.src='assets/img/only_logo.png';">
        </ion-avatar>
        <div class="progressbar">
          <span class="progress" [ngStyle]="{'width': data.profileCompletionData.percentage+'%'}"></span>
        </div>
        <!--<small>Hint: Please complete My Health allergies</small>-->
        <small *ngIf="data.profileCompletionData.text" style="font-size: 65% !important;">
          {{data.profileCompletionData.text}}
        </small>
      </ion-item>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button ion-button icon-only icon-notification (click)="openMessage()">
      <ion-icon name="mail">
        <ion-badge *ngIf="data.message.inbox.unread > 0" color="pink">{{data.message.inbox.unread}}</ion-badge>
      </ion-icon>
    </button>
    <button ion-button icon-only icon-notification (click)="openNotification($event)">
      <ion-icon name="notifications">
        <ion-badge *ngIf="data.notifications.unread.count > 0" color="pink">{{data.notifications.unread.count}}
        </ion-badge>
      </ion-icon>
    </button>
    <button ion-button icon-only icon-search (click)="presentPopover($event)">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-navbar class="myfile_head" *ngIf="isMyFiles">
  <ion-row class="head">
    <ion-col width-40>
      File Name
    </ion-col>
    <ion-col width-30 text-center>
      Size
    </ion-col>
    <ion-col width-20 text-center>
      Upload Date
    </ion-col>
    <ion-col width-20 text-right>
      Action
    </ion-col>
  </ion-row>
</ion-navbar>
<ion-navbar class="myfile_head" *ngIf="isMyFilesShare">
  <ion-row class="head">
    <ion-col width-50>
      Shared with
    </ion-col>
    <ion-col width-30 text-center>
      Date Time
    </ion-col>
    <ion-col width-20 text-right>
      Delete
    </ion-col>
  </ion-row>
</ion-navbar>
<ion-toolbar class="tool-search" *ngIf="isSearch">
  <button *ngIf="search_state != ''" ion-button clear>
    <ion-icon name="pulse"></ion-icon>
    {{search_state}}
  </button>
  <button *ngIf="search_specialty != ''" ion-button clear>
    <ion-icon name="school"></ion-icon>
    {{search_specialty}}
  </button>
  <button *ngIf="search_query != ''" ion-button clear>
    <ion-icon name="globe"></ion-icon>
    {{search_query}}
  </button>
</ion-toolbar>
