mvd-topheader {
  ion-title {
    text-transform: uppercase !important;
  }
  

  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    ion-avatar img{
      width: 55px !important;
      height: 55px !important;;
    }
    ion-navbar[subheader]{
      min-height: 71px;
      ion-buttons{
        ion-item{
          ion-label{
            small{
              font-size: 100% !important;
            }
          }
        }
        .bar-button-ios{
          font-size: 3rem !important;
        }
      }
      [icon-notification]{
        ion-badge{
          font-size: 14px;
          font-family: sans-serif;
        }

      }
    }
  }
  @media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    ion-avatar img{
      width: 55px !important;
      height: 55px !important;;
    }
    ion-navbar[subheader]{
      min-height: 71px;
      ion-buttons{
        ion-item{
          ion-label{
            small{
              font-size: 100% !important;
            }
          }
        }
        .bar-button-ios{
          font-size: 3rem !important;
        }
      }
      [icon-notification]{
        ion-badge{
          font-size: 14px;
          font-family: sans-serif;
        }

      }
    }
  }
}
