<ion-header>
  <ion-navbar>
    <!--<ion-title>Surgeries / Procedures ( 5/5 )</ion-title>-->
    <ion-title>Surgeries / Procedures</ion-title>
  </ion-navbar>
  <ion-list>
    <ion-item class="health-cond">
      <h2>Have you had any surgeries / procedures done in the past? </h2>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="wel-sec">
  <ion-grid>
    <div>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label class="bold-lable"><b>I did not have any past surgeries / procedures done</b></ion-label>
            <ion-toggle [(ngModel)]="isSurgeries" (ionChange)="updateIsSurgeries()"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!isSurgeries">
      <ion-row>
        <ion-col col-12>
          <p class="blue-color">Please check any medications Nick Plocekk is allergic to:</p>
        </ion-col>
        <ion-col col-12 *ngFor="let surgery of surgeriesData; let i = index;">
          <ion-item no-lines>
            <ion-label>{{surgery.name}}
              <div *ngIf="surgery.isChecked">
                <small col-12 style="padding-left: 0;">Year: <b>{{surgery.year}}</b></small>
              </div>
            </ion-label>
            <ion-checkbox [(ngModel)]="surgery.isChecked" (ionChange)="openOtherFieldsModal(i)"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-checkbox [(ngModel)]="isOther" (click)="openOtherFieldsModalForOtherData()"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--<ion-row>-->
      <!--&lt;!&ndash;<ion-col col-12>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-item>&ndash;&gt;-->
          <!--&lt;!&ndash;<ion-label class="bold-lable"><b>I did not have any past surgeries / procedures done</b></ion-label>&ndash;&gt;-->
          <!--&lt;!&ndash;<ion-toggle></ion-toggle>&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
      <!--<ion-col col-12>-->
        <!--<ion-item>-->
          <!--<ion-label>Please enter details below</ion-label>-->
        <!--</ion-item>-->
      <!--</ion-col>-->
      <!--<ion-col col-12>-->
        <!--<ion-textarea placeholder="Enter a description"></ion-textarea>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar  class="welcome-text">
    <div padding class="login_button">
      <button primary_grediant ion-button round full icon-right (click)="addBunchSurgeries()">CONTINUE</button>
    </div>
  </ion-toolbar>
</ion-footer>
