page-surgeries {
  ion-header{
    ion-list{
      border:0px;
      margin:0px !important;
      ion-item.health-cond{
        background: #b70e81;
        text-align:center;
        color:#fff;
        text-transform:uppercase;
        border:0px !important;
        padding:4px 0px !important;

        .item-inner{
          padding:0px 0px !important;
        }
      }
    }
    ion-label{
      white-space: normal;
      margin: 3px 8px 3px 0 !important;
    }
  }
  ion-content{
    ion-item{
      padding:0px !important;
      font-size: 1.4rem !important;
      border-bottom: 1px solid #f1f0f0 !important;

      ion-label{
        white-space: normal;
      }
      .item-inner{
        border: 0px !important;
      }
    }
    .blue-color{
      color:#428bca;
      padding: 0px 6px;
    }
    .bold-lable {
      padding: 0px 11px 4px;
      margin-bottom: 15px;
      font-size: 15px;
    }
    .item-ios .toggle-ios{padding: 0px 8px 7px 11px;}
  }
}
