<ion-header>
  <ion-toolbar>
    <ion-title>
      Add My Health Conditions
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Select one or more options below</ion-label>
      <ion-select [(ngModel)]="multipleConditionTerms" multiple="true" (ngModelChange)="checkMultipleAllergies($event)">
        <ion-option *ngFor="let allergy of allAllergies" [value]="allergy.name">{{allergy.name}}</ion-option>
        <ion-option value="other">Other</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isOther">
      <ion-label color="primary" floating>Allergy</ion-label>
      <ion-input type="text" [(ngModel)]="condition_term"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Severity</ion-label>
      <ion-select [(ngModel)]="severity">
        <ion-option value="Severity">Severity</ion-option>
        <ion-option value="Unspecified">Not Sure</ion-option>
        <ion-option value="Mild">Mild</ion-option>
        <ion-option value="Moderate">Moderate</ion-option>
        <ion-option value="Severe">Severe</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Reaction</ion-label>
      <ion-input type="text" [(ngModel)]="reaction"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button item-right (click)="addAllergy()">Add</button>
</ion-content>

