<ion-header>
  <mvd-topheader title="SETTINGS" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>
        First Name
      </ion-label>
      <ion-input type="text" [(ngModel)]="physicianData.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Last Name
      </ion-label>
      <ion-input type="text" [(ngModel)]="physicianData.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Email
      </ion-label>
      <ion-input type="email" [(ngModel)]="physicianData.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Phone Number
      </ion-label>
      <ion-input type="text" [(ngModel)]="physicianData.phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        City
      </ion-label>
      <ion-input type="text" [(ngModel)]="physicianData.city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        State
      </ion-label>
      <ion-select [(ngModel)]="physicianData.state">
        <ion-option *ngFor="let state of states; let i = index" value="{{i}}">{{state.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>
        Zip
      </ion-label>
      <ion-input type="text" [(ngModel)]="physicianData.zip"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <button ion-button full round (click)="update()">
        Update Primary Physician
      </button>
    </ion-item>
  </ion-list>
</ion-content>
