<ion-header>
  <mvd-topheader title="My Health" [surgeriesNested]="false" [data]="tokenAndUserID.data"></mvd-topheader>
  <ion-list>
    <ion-item class="health-cond">
      <h3>My Surgeries and Procedures</h3>
      <div item-right>
        <button ion-button round clear [class]="(is_surgeries === true) ? 'active' : ''"
                (click)="changeIsSurgery(true)">Yes
        </button>
        <button ion-button round clear [class]="(is_surgeries === false) ? 'active' : ''"
                (click)="changeIsSurgery(false)">No
        </button>
      </div>
      <!--<ion-label>My Surgeries and Procedures</ion-label>-->
      <!--<ion-toggle [(ngModel)]="is_surgeries" checked="{{is_surgeries}}" (ionChange)="changeIsSurgery()"></ion-toggle>-->
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-fab *ngIf="is_surgeries" bottom right>
    <button ion-fab color="red_violet" (click)="openAdd()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngIf="is_surgeries">
    <ion-item *ngIf="surgeryData.length <= 0">
      <h3>No Surgeries and Procedures reported</h3>
    </ion-item>
    <ion-item *ngFor="let item of surgeryData; let i = index">
      <h2>{{item.condition_term}}</h2>
      <h3>
        <ion-icon name="clock"></ion-icon>
        {{item.date}},
        <ion-icon name="calendar"></ion-icon>
        {{item.source}}
      </h3>
      <button ion-button clear item-right (click)="openEdit(i)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button clear item-right (click)="removeDialog(i)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
