<ion-content>
  <ion-card class="login_img">
    <img src="assets/img/login.jpg"/>
  </ion-card>
  <form (ngSubmit)="resetPassword()">
    <ion-list>
      <ion-item class="login_field">
        <ion-label stacked>Email
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
    </ion-list>
    <div padding class="login_button">
      <button type="submit" primary_grediant ion-button round full icon-right>
        Send Now !
        <ion-icon name="log-in"></ion-icon>
      </button>
      <p text-center> Do you remember password?
        <button type="button" purple text-button small  (click)="openLoginPage()">Click here to Login</button>
      </p>
    </div>
  </form>
</ion-content>
