<ion-list>
  <ion-item-group>
    <ion-item-divider sticky color="light">
      Options
    </ion-item-divider>
    <div class="extraPadding">
      <ion-item (click)="close('appointment')">
        <ion-icon name="time" item-start></ion-icon>
        Schedule Appointment
      </ion-item>
      <ion-item (click)="close('settings')" *ngIf="isSettings">
        <ion-icon name="settings" item-start></ion-icon>
        Settings
      </ion-item>
      <!--<button ion-item (click)="close('appointment')">Schedule Appointment</button>-->
      <!--<button *ngIf="isSettings" ion-item (click)="close('settings')">Settings</button>-->
    </div>
  </ion-item-group>
</ion-list>
