<ion-header>
  <ion-navbar [hideBackButton]="true">
    <!--<ion-title>Medications ( 3/5 )</ion-title>-->
    <ion-title>Medications</ion-title>
  </ion-navbar>
  <ion-list>
    <ion-item class="health-cond">
      <h2>Are you currently taking any medications?</h2>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="wel-sec">
  <ion-grid>
    <div>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label class="bold-lable"><b>I am not taking any medications currently</b></ion-label>
            <ion-toggle [(ngModel)]="isMedication" (ionChange)="updateIsMedication()"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!isMedication">
      <ion-row>
        <ion-col col-12>
          <p class="blue-color">Please check any medications Nick Plocekk is currently talking</p>
        </ion-col>
        <ion-col col-12 *ngFor="let medication of medicationData; let i = index;">
          <ion-item no-lines>
            <ion-label>{{medication.name}}
              <div *ngIf="medication.isChecked">
                <small col-4 style="padding-left: 0;">Dosage: <b>{{medication.dosage}}</b></small>
                <small col-4>Frequency: <b>{{medication.frequency}}</b></small>
                <small col-4>Time: <b>{{medication.time}}</b></small>
              </div>
            </ion-label>
            <ion-checkbox [(ngModel)]="medication.isChecked" (ionChange)="openOtherFieldsModal(i)"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <ion-label>Other</ion-label>
            <ion-checkbox [(ngModel)]="isOther" (ionChange)="openOtherFieldsModalForOtherData()"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col col-8 *ngIf="isOther">
          <!--<ion-item>-->
          <!--<ion-input type="text" [(ngModel)]="otherFields[0].name" [readonly]="true"-->
          <!--placeholder="Other Medication Here" (click)="openOtherFieldsModalForOtherData(0)"></ion-input>-->
          <!--<button *ngIf="otherFields[0].name.trim().length > 0" item-right ion-button icon-only clear-->
          <!--(click)="addMoreOtherFields()">-->
          <!--<ion-icon name="add"></ion-icon>-->
          <!--</button>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
          <!--<ion-input type="text" [(ngModel)]="otherField.name" [readonly]="true"-->
          <!--placeholder="Other Medication Here" (click)="openOtherFieldsModalForOtherData()"></ion-input>-->
          <!--<button *ngIf="otherField.trim().length > 0" item-right ion-button icon-only clear-->
          <!--(click)="addMoreOtherFields()">-->
          <!--<ion-icon name="add"></ion-icon>-->
          <!--</button>-->
          <!--</ion-item>-->
        </ion-col>
      </ion-row>
      <!--<ion-row *ngIf="otherFields.length > 0">-->
      <!--<ion-col col-12 *ngFor="let field of otherFields; let i = index">-->
      <!--<ion-item *ngIf="i > 0">-->
      <!--<ion-input type="text" [(ngModel)]="field.name" placeholder="Other Medication Here" (click)="openOtherFieldsModalForOtherData(i)"></ion-input>-->
      <!--<button item-right ion-button icon-only clear (click)="removeOtherField(i)">-->
      <!--<ion-icon name="remove"></ion-icon>-->
      <!--</button>-->
      <!--</ion-item>-->
      <!--</ion-col>-->
      <!--</ion-row>-->
    </div>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar class="welcome-text">
    <div padding class="login_button">
      <button primary_grediant ion-button round full icon-right (click)="addBunchMedication()">CONTINUE</button>
    </div>
  </ion-toolbar>
</ion-footer>
