page-dashboard {
  [animatedSearchButton]{

    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    transition: width 2s, height 4s;
  }
  @keyframes example {
    0% {
      background-color: #fff;
      color:#343;
    }
    50% {
      background-color: #b70e81;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
      color:#fff;
      -ms-transition: color 1000ms linear;
      transition: color 1000ms linear;
    }
    100% {
      background-color: #fff;
      color:#343;
    }
  }
 .btn-up{

    z-index: 999;
    position: relative;
  }
  .first-animated {
    float: right;
    top: 0;
    right: -2px;
    border-radius: 100% !important;
    margin-top: -49px;
    z-index: 99 !important;
    -webkit-animation-name: anim-effect-jagoda-2, anim-effect-jagoda-1, example;
    animation-name:anim-effect-jagoda-2, anim-effect-jagoda-1, example;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 20;
    animation-iteration-count:20;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .first-animated::after {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  @-webkit-keyframes anim-effect-jagoda-1 {
    0%, 100% {
      opacity: 0;
    }
    40%, 60% {
      opacity: 1;
    }
  }

  @keyframes anim-effect-jagoda-1 {
    0%, 100% {
      opacity: 0;
    }
    40%, 60% {
      opacity: 1;
    }
  }

  @-webkit-keyframes anim-effect-jagoda-2 {
    0% {
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes anim-effect-jagoda-2 {
    0% {
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .fix-btns {
    position: fixed;
    padding: 31px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.78);
    transition:0.2s linear;
    bottom: 0px;
    -webkit-animation: lineV 1s linear;
    animation: lineV 1s linear;
    h2{
      text-align: right;
      padding-top: 17%;
      font-weight: bold;
      position: relative;
      transition: 3s linear;
      font-size: 17px;
      color: #333333;
      -webkit-animation: anim-effect-jagoda-5 3s linear;
      animation: anim-effect-jagoda-5 3s linear;
    }
  }
  .first-animated-back {
    float: right;
    right: -2px;
    margin-top: -49px;
    z-index: 9;
    box-shadow: 0px 0px 3px #969696;
  }
  @keyframes anim-effect-jagoda-5 {
    from {
      left:-100%;
    }
    to {
      left:0%;
    }
    0% {
      position:absolute;
      opacity: 0;
    }
    40%, 60% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes lineV {
    from {
      width: 100%;
      height:0%;
    }
    to {
      width: 100%;
      height: 100%;
    }
    0% {
      width: 100%;
      border-top-right-radius: 700%;
    }
    40%, 60% {
      width: 100%;
      border-top-right-radius: 100%;
    }
    100% {
      border-top-right-radius: 0;
    }
  }

  @keyframes lineV {
    from {
      width: 0%;
      height:0%;
    }
    to {
      width: 100%;
      height: 100%;
    }
    0% {
      opacity: 0;
      width:0%;
      border-top-right-radius: 700%;
    }
    60%, 70% {
      opacity:0.2;
      border-top-right-radius: 100%;
    }
    100% {
      opacity:1;
      width: 150%;
      border-top-right-radius: 0;
    }
  }

  .dashboard {

    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
      ion-grid{
        ion-col{
          [ion-button] {
            font-size: 5.2em !important;
            padding: 0.9em !important;
          }
          h4{
            font-size: 20px !important;
          }
          p{
            font-size: 17px !important;
          }
          ion-badge{
            right: inherit;
            margin-left: 106px;
            font-size: 19px;
          }
        }
      }
    }
    @media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
      ion-grid{
        ion-col{
          [ion-button] {
            font-size: 5.2em !important;
            padding: 0.9em !important;
          }
          h4{
            font-size: 20px !important;
          }
          p{
            font-size: 17px !important;
          }
          ion-badge{
            right: inherit;
            margin-left: 106px;
            font-size: 19px;
          }
        }
      }
    }

    background: url(../assets/img/dsh_bck.jpg);
    button.button-round {
      border-radius: 100% !important;
    }

    [col-4] {
      text-align: center;
      margin-bottom: 7px;

      [ion-button] {
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #183A74),
            color-stop(1, #102E63)
        );
        background-image: -o-linear-gradient(bottom, #183A74 0%, #102E63 100%);
        background-image: -moz-linear-gradient(bottom, #183A74 0%, #102E63 100%);
        background-image: -webkit-linear-gradient(bottom, #183A74 0%, #102E63 100%);
        background-image: -ms-linear-gradient(bottom, #183A74 0%, #102E63 100%);
        background-image: linear-gradient(to bottom, #183A74 0%, #102E63 100%);
        font-size: 3.2em;
        padding: 0.4em ;
        height: 1.8em;
        border: 4px solid #7b9ace;
        box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.67) inset;
        width: 81px;
      }
      h4 {
        font-size: 13px;
        color: #fff;
        text-align: center;
        padding: 0 !important;
        margin-bottom: 0 !important;
      }
      p {
        padding: 7px !important;
        margin: 0 !important;
        color: #2ec95c;
        font-size: 12px;
      }
    }

  }

}


