<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <mvd-topheader title="DASHBOARD" [data]="tokenAndUserID.data"></mvd-topheader>
  <ion-buttons id="btn-up" (click)="presentPopover($event)" style="display: none;" >
    <button icon-only="" icon-search="" ion-button="" class="first-animated  disable-hover bar-button bar-button-ios bar-button-default bar-button-default-ios"><span class="button-inner">
        <ion-icon name="person-add" role="img" class="icon icon-ios ion-ios-person-add" aria-label="person add" ng-reflect-name="person-add"></ion-icon>
      </span><div class="button-effect"></div>
    </button>
    <button icon-only="" icon-search="" ion-button="" class="first-animated-back disable-hover bar-button bar-button-ios bar-button-default bar-button-default-ios"><span class="button-inner">
        <ion-icon name="person-add" role="img" class="icon icon-ios ion-ios-person-add" aria-label="person add" ng-reflect-name="person-add"></ion-icon>
      </span><div class="button-effect"></div>
    </button>
  </ion-buttons>
  <div id="fix-btns" style="display: none;" ><h2>Click here to search for your Physician</h2></div>
</ion-header>
<ion-content class="dashboard">
  <ion-grid>
    <ion-row>
      <ion-col col-4 dash-icon-notification (click)="openAppointment()">
        <ion-badge *ngIf="upcomingAppointmentCount" color="pink">{{upcomingAppointmentCount}}</ion-badge>
        <button ion-button round>
          <ion-icon name="clipboard"></ion-icon>
        </button>
        <h4>My Appointments</h4>
        <p color="secondary">{{appointmentTotalCount}} appointment</p>
      </ion-col>
      <ion-col col-4 dash-icon-notification (click)="openMessages()">
        <ion-badge *ngIf="messageCount" color="pink">{{messageCount}}</ion-badge>
        <button ion-button round>
          <ion-icon name="mail"></ion-icon>
        </button>
        <h4>My Messages</h4>
        <p color="secondary">{{messageInboxCount}} Messages</p>
      </ion-col>
      <ion-col col-4>
        <button ion-button round (click)="openHealth()">
          <ion-icon name="heart"></ion-icon>
        </button>
        <h4>My Health</h4>
        <p color="secondary">{{isMyHealthComplete}}</p>
      </ion-col>
      <ion-col col-4>
        <button ion-button round (click)="openPhysicans()">
          <ion-icon name="pulse"></ion-icon>
        </button>
        <h4>My Physicians</h4>
        <p color="secondary">{{physiciansCount}} Physicians</p>
      </ion-col>
      <ion-col col-4>
        <button ion-button round (click)="openMyfiles()">
          <ion-icon name="folder-open"></ion-icon>
        </button>
        <h4>My Files</h4>
        <p color="secondary">{{filesCount}} Files</p>
      </ion-col>
      <ion-col col-4>
        <button ion-button round (click)="openMyprofile()">
          <ion-icon name="person"></ion-icon>
        </button>
        <h4>My Profile </h4>
        <p color="secondary">{{isProfileComplete}}</p>
      </ion-col>
      <ion-col col-4>
        <button ion-button round (click)="openSettings()">
          <ion-icon name="settings"></ion-icon>
        </button>
        <h4>My Settings</h4>
        <p color="secondary">Edit information</p>
      </ion-col>
      <ion-col col-4>
        <button ion-button round (click)="openFAQ()">
          <ion-icon name="people"></ion-icon>
        </button>
        <h4>Contact Support </h4>
        <p color="secondary">Write An Email</p>
      </ion-col>
      <ion-col col-4 >
        <button ion-button round (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
        <h4>Signout</h4>
        <p color="secondary">Logout</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
