<ion-content>
  <ion-tabs>
    <ion-tab tabIcon="mail" tabTitle="Inbox" [root]="message_inbox" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab tabIcon="send" tabTitle="Sent" [root]="message_sent" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab tabIcon="mail-open" tabTitle="Drafts" [root]="message_drafts" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab tabIcon="mail-open" tabTitle="Trash" [root]="message_trash" tabsHideOnSubPages="true"></ion-tab>
  </ion-tabs>
</ion-content>



