add-medication {
  ion-auto-complete {
    width: 100% !important;
  }
  ion-item {
    border-top: 0 !important;
  }
  ion-searchbar {
    background: transparent !important;
    border-bottom: 0.55px solid #c8c7cc !important;
  }
}
