<ion-header>
  <mvd-topheader title="My Medications" [medicationNested]="false" [data]="tokenAndUserID.data"></mvd-topheader>
  <ion-list>
    <ion-item class="health-cond">
      <h3>My Medications</h3>
      <div item-right>
        <button ion-button round clear [class]="(is_medication === true) ? 'active' : ''"
                (click)="changeIsMedication(true)">Yes
        </button>
        <button ion-button round clear [class]="(is_medication === false) ? 'active' : ''"
                (click)="changeIsMedication(false)">No
        </button>
      </div>
      <!--<ion-label>My Medications</ion-label>-->
      <!--<ion-toggle [(ngModel)]="is_medication" checked="{{is_medication}}"-->
      <!--(ionChange)="changeIsMedication()"></ion-toggle>-->
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-fab *ngIf="is_medication" bottom right>
    <button ion-fab color="red_violet" (click)="openAdd()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngIf="is_medication">
    <ion-item *ngIf="medicationData.length <= 0">
      <h3>No medications reported</h3>
    </ion-item>
    <ion-item *ngFor="let item of medicationData; let i = index">
      <h2>{{item.condition_term}}</h2>
      <h3>{{item.dosage}}, {{item.frequency}}-{{item.time}}</h3>
      <button ion-button clear item-right (click)="openEdit(i)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button clear item-right (click)="removeDialog(i)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
