<ion-header>
  <ion-navbar [hideBackButton]="true">
    <!--<ion-title>Health Conditions ( 2/5 )</ion-title>-->
    <ion-title>Health Conditions</ion-title>
  </ion-navbar>
  <ion-list>
    <ion-item class="health-cond">
      <h2>Do you have any Health Conditions?</h2>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="wel-sec">
  <ion-grid>
    <div>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label class="bold-lable"><b>I don't have any health conditions</b></ion-label>
            <ion-toggle [(ngModel)]="isHealthCondition" (ionChange)="updateIsHealthCondition()"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!isHealthCondition">
      <ion-row>
        <ion-col col-12>
          <p class="blue-color">Please check any medical conditions Nick Plocekk has been diagnosed with</p>
        </ion-col>
        <ion-col col-6 *ngFor="let healthCondition of healthConditionData">
          <ion-item>
            <ion-label>{{healthCondition.name}}</ion-label>
            <ion-checkbox [(ngModel)]="healthCondition.isChecked"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <ion-label>Other</ion-label>
            <ion-checkbox [(ngModel)]="isOther"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col col-8 *ngIf="isOther">
          <ion-item>
            <ion-input type="text" [(ngModel)]="otherField"
                       placeholder="Other Health Condition Here"></ion-input>
            <button *ngIf="otherField.trim().length > 0" item-right ion-button icon-only clear
                    (click)="addMoreOtherFields()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar class="welcome-text">
    <div padding class="login_button">
      <button primary_grediant ion-button round full icon-right (click)="addBunchHealthCondition()">CONTINUE</button>
    </div>
  </ion-toolbar>
</ion-footer>
