<ion-header>
  <mvd-topheader title="APPOINTMENT" isAppointment="true" tabTitle="Cancel" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content class="customContent">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="!isAppointments">
    <ion-card-content>
      You have no canceled appointments
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="isAppointments" class="myCustomList">
    <ion-item *ngFor="let appointment of appointments">
      <ion-avatar item-left class="appoint-date">
        <small>{{appointment.start.date.week_day}}</small>
        <h2>{{appointment.start.date.day}}</h2>
        <small>{{appointment.start.date.month}}, {{appointment.start.date.year}}</small>
      </ion-avatar>
      <h2 (click)="openDoctor(appointment.doctors_id)">{{appointment.firstname}} {{appointment.lastname}}
        <small>
          <ion-icon name="time"></ion-icon>
          {{appointment.start.time}} | {{appointment.end.time}}
        </small>
      </h2>
      <p>
        <ion-icon name="pulse"></ion-icon>
        Family Practice,
        <ion-icon name="school"></ion-icon>
        MBBS,
        <ion-icon name="globe"></ion-icon>
        United State
      </p>
      <!--<ion-note item-right class="message-clock">-->
        <!--<button ion-button clear>-->
          <!--<ion-icon name="options"></ion-icon>-->
        <!--</button>-->
      <!--</ion-note>-->
    </ion-item>


    <!--<ion-item class="active">-->
      <!--<ion-avatar item-left class="appoint-date">-->
        <!--<small>Sunday</small>-->
        <!--<h2>14th</h2>-->
        <!--<small>May, 2017</small>-->
      <!--</ion-avatar>-->
      <!--<ion-note item-left class="active-btn">-->
        <!--<button ion-button clear><ion-icon name="add"></ion-icon> Add to Favorites</button>-->
        <!--<button ion-button clear><ion-icon name="mail"></ion-icon> Message</button>-->
        <!--<button ion-button clear><ion-icon name="time"></ion-icon> Schedule</button>-->
        <!--<button ion-button clear><ion-icon name="person"></ion-icon>Profile</button>-->
      <!--</ion-note>-->
      <!--<ion-note item-right class="message-clock">-->
        <!--<button ion-button clear><ion-icon name="close"></ion-icon></button>-->
      <!--</ion-note>-->
    <!--</ion-item>-->


    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
