page-basic-information {
  .toolbar-background-ios{
    border: 0px !important;
    box-shadow: 1px 4px 4px #ccc !important;
  }
  ion-footer, ion-header{
    background:#fff;
  }
  .wel-sec {
    background: #f9f6f6;
    text-align: center;
    .name-area{
      .button-ios{
        background-color: #15a2c0;
        padding: 6px 18px;
        height: auto;
      }
    }
    ion-list{
      ion-item{
        padding:10px 15px 0px;
      }
    }
  }
  ion-footer {
    text-align: center;
    .welcome-text {
      text-align: center;
      p{
        font-size: 15px;
        line-height: 23px;
      }
      .assist-wel{
        img{
          width: 60%;
        }
      }
      .login_button {
        border-top: 1px solid #eaeaea;
      }
    }
  }
  .basicinformation-profile{
      text-align:center;
      .item-inner{
        border-bottom:0px;
        ion-label{
          padding:20px 0px;

          ion-avatar{
            text-align:center;
            padding:10px 0;
            img{
              width: 50px;
              height: 50px;
              display: table;
              margin: 0 auto;
            }
          }
        }
      }

      h2{
        text-transform: uppercase;
      }
  }
}
