doctor-list {
  .item-md [item-left], .item-md [item-right] {
    margin: 9px 0 9px 0;
  }
  .item {
    padding-left: 7px;
  }
  .list > .item-block {
    border-bottom: 0.55px solid #e7eaef !important;
  }
  .list .item .item-inner {
    border-bottom: 0;
  }
  .item ion-avatar ion-img, .item ion-avatar img {
    border: 2px solid #d3dceb;
    padding: 3px;
    width: 50px;
    height: 50px;
  }
  .item ion-avatar[item-left] {
    margin: 0 10px 0 0;
    position: relative;
  }
  .button-clear {
    float: right;
    padding: 0;
    margin: 0;
    height: auto;
    color: #565656;
  }
  .message-clock p {
    font-size: 12px;
    padding-top: 0;
  }
  .label {
    white-space: inherit;
  }
  .label h2 {
    font-size: 20px;
    color: #0f2e64;

  }
  .label p {
    font-size: 15px;
  }

  .fab-ios-light {
    color: #fff;
    background-color: #b70e81;
  }
  .badge {
    text-indent: 9999px;
    width: 14px;
    overflow: hidden;
    height: 14px;
    position: absolute;
    top: 2px;
    padding: 0;
    right: 3px;
  }

  ion-label {
    margin: 0 !important;
  }
  ion-item {
    border: 0 !important;
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    margin-bottom: 10px !important;
    padding: 0 0 !important;
    ion-avatar {
      position: relative !important;
      width: 80px;
      height: 80px;

      img {
        width: 80px !important;
        height: 80px !important;
      }
    }
  }
  div.item-inner {
    padding-right: 15px !important;
  }

}
