<ion-item no-lines>
  <ion-avatar item-left (click)="openDoctor()">
    <!--<img src="{{doctor.image_url | defaultimage | async}}"/>-->
    <img src="{{doctor.image_url}}" onError="this.src='assets/img/only_logo.png';"/>
    <ion-badge *ngIf="doctor.online_status === 'online'" color="secondary">online</ion-badge>
    <ion-badge *ngIf="doctor.online_status === 'offline'" color="pink">offline</ion-badge>
  </ion-avatar>
  <h2 (click)="openDoctor()">{{doctor.firstname}} {{doctor.lastname}}</h2>
  <p (click)="openDoctor()">
    <ng-template #noneTemplate>
      None
    </ng-template>
    <ion-icon name="pulse"></ion-icon>
    <ng-container *ngIf="doctor.specialty.length > 0; else noneTemplate">
      {{doctor.specialty[0].speciality || 'None'}},
    </ng-container>
    <ion-icon name="school"></ion-icon>
    <ng-container *ngIf="doctor.degree.length > 0; else noneTemplate">
      {{doctor.degree[0].name || 'None'}},
    </ng-container>
    <ion-icon name="globe"></ion-icon>
    {{doctor.location || 'None'}}
  </p>
  <ion-note item-right class="message-clock">
    <button ion-button clear (click)="openActions()">
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-note>
</ion-item>
