page-intro-slides {
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .welcome{
      ion-header{
        h2{
          font-size: 35px;
        }
        h4{
          line-height: 27px;
          font-size: 24px;
        }
      }
      ion-footer{
        img{
          width: 70%;
        }
        p{
          font-size: 20px !important;
        }
      }
    }
    .welcome-slide{
      ion-header{
        button{
          padding: 0px 22px !important;
          top: -13px !important;
          right: -12px !important;
          font-size: 57px !important;
        }
        h2{
          font-size: 35px;
        }
      }
      ion-footer{
        img{
          width: 70%;
        }
        p{
          font-size: 20px !important;
        }
        .btn-send-next{
          button{
            padding: 13px 3px;
            height: auto;
            font-size: 2rem;
            ion-icon{
              font-size: 39px;
            }
          }

        }
      }
    }
  }
  @media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    .welcome{
      ion-header{
        h2{
          font-size: 35px;
        }
        h4{
          line-height: 27px;
          font-size: 24px;
        }
      }
      ion-footer{
        img{
          width: 70%;
        }
        p{
          font-size: 20px !important;
        }
      }
    }
    .welcome-slide{
      ion-header{
        button{
          padding: 0px 22px !important;
          top: -13px !important;
          right: -12px !important;
          font-size: 57px !important;
        }
        h2{
          font-size: 35px;
        }
      }
      ion-footer{
        img{
          width: 70%;
        }
        p{
          font-size: 20px !important;
        }
        .btn-send-next{
          button{
            padding: 13px 3px;
            height: auto;
            font-size: 2rem;
            ion-icon{
              font-size: 39px;
            }
          }

        }
      }
    }
  }
  .welcome, .welcome-slide{
    background:#0f3c75 url(../assets/img/slide-bg.jpg) no-repeat;
    background-size:cover !important;
    text-align: center;
    padding: 9px;
    height: 100%;
    overflow: hidden;
    ion-header:after, ion-footer:after {
      display: none;
    }
    hr {
      width: 30%;
      background: #fff;
      height: 2px;
      text-shadow: 0px 2px 2px #000;
    }
    h2 {
      color: #fff;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 24px;
      text-shadow: 0px 2px 2px #000;
      letter-spacing: 2px;padding-top: 23px;
      padding-top: 23px;
    }
    h4 {
      color: #fff;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 16px;
      text-shadow: 0px 2px 2px #000;
      letter-spacing: 2px;
      margin-bottom: 22px;
      line-height: 22px;
    }img {
       width: 80%;
     }
    ion-col.col {
    }ion-footer {
        color: #fff;
        //height: calc(100% - 99px);
        //overflow: scroll;
      p{
        font-size: 14px;
      }
     }
    button.start-app {
      width: 90%;
      border-radius: 100px;
      background: #081d37;
      text-transform: uppercase;
      box-shadow: 0px 0px 3px #1e90c3;
    }
    button.close-wpl {
      position: absolute;
      right: -9px;
      background: #fff;
      font-size: 39px;
      padding: 0px 14px;
      height: auto;
      top: -8px;
      border-radius: 100px;
      color: #343434;
    }
  }
  .welcome-slide{
    h2{
      text-align: left;
      padding-left: 0px !important;
      padding-top: 0px !important;
      margin-top: 0px !important;
    }
  }
  .btn-send-next button {
     width: 44% !important;
     margin: 1%;
    padding:9px 3px;
    height: auto;
    ion-icon.ion-md-arrow-dropleft{
      position: absolute;
      left: 14px;
      font-size: 34px;
      top:0px;
    }
    ion-icon.ion-md-arrow-dropright{
      position: absolute;
      right: 14px;
      top: 3px;
      font-size: 34px;
    }
  }
  @media screen and (device-aspect-ratio: 40/71){

    img {
      width: 60% !important;
    }
    .welcome-slide h2{
      font-size: 19px;
    }

  }

}
