<ion-slides #slides (ionSlideDidChange)="slideChanged($event)">
  <ion-slide class="welcome">
    <ion-header padding>
      <h2>Welcome to <br/> <strong> My Virtual Doctor</strong></h2>
      <hr/>
      <h4>Feeling Better is Just <br/>One Click Away</h4>
    </ion-header>
    <ion-footer padding>
      <img src="assets/img/slide-logo.png"/>
      <p>This tutorial will help you get started. Click the button below to proceed</p>
      <button ion-button class="start-app" (click)="unlockSlideNext()">Start Tutorial</button>
      <button ion-button (click)="closeMenu()" clear>Skip</button>
    </ion-footer>
  </ion-slide>
  <ion-slide class="welcome-slide">
    <ion-header padding>
      <button ion-button (click)="closeMenu()" class="close-wpl" clear>
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
      <h2><strong>Manage Your Profile</strong> <br/>and Health Info</h2>
    </ion-header>
    <ion-footer padding>
      <img [src]="slidesImages[0]"/>
      <p>The first step is to complete your profile. This is your profile completion progress bar. It will guide you
        through the completion of information that your doctors may need to know about you, such as your basic profile,
        health conditions you may have, medications you are taking, allergies and procedures you have had.</p>
      <p>Simply click on the progress bar at any time to view your profile and complete as needed.</p>
      <div class="btn-send-next">
        <button ion-button class="start-app">
          <ion-icon name="md-arrow-dropleft"></ion-icon>
          Prev
        </button>
        <button ion-button class="start-app" (click)="slideNext()">Next
          <ion-icon name="md-arrow-dropright"></ion-icon>
        </button>
      </div>
    </ion-footer>
  </ion-slide>

  <ion-slide class="welcome-slide">
    <ion-header padding>
      <button ion-button (click)="closeMenu()" class="close-wpl" clear>
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
      <h2><strong>Search and Find</strong> <br/>Your Doctor</h2>
    </ion-header>
    <ion-footer padding>
      <img [src]="slidesImages[1]"/>
      <p>Once your profile is ready, it’s time to find a doctor. You can search by state, specialty and physician name
        if you know the doctor you are looking for.</p>
      <p>Once you find the doctor that matches your criteria, simply send them a message or schedule an appointment to
        proceed. You can add doctors to your favorites list for recurring appointment and future consults.</p>
      <div class="btn-send-next">
        <button ion-button class="start-app" (click)="slidePrev()">
          <ion-icon name="md-arrow-dropleft"></ion-icon>
          Prev
        </button>
        <button ion-button class="start-app" (click)="slideNext()">Next
          <ion-icon name="md-arrow-dropright"></ion-icon>
        </button>
      </div>
    </ion-footer>
  </ion-slide>

  <ion-slide class="welcome-slide">
    <ion-header padding>
      <button ion-button (click)="closeMenu()" class="close-wpl" clear>
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
      <h2><strong>Interactive Video</strong> <br/>Consultation System</h2>
    </ion-header>
    <ion-footer padding>
      <img [src]="slidesImages[2]"/>
      <p>MyVirtualDoctor will alert you when it’s time for your appointment. All you need to do is log in and enter the
        waiting room. Your consultation will start automatically once your doctor is ready.</p>
      <p>After the consultation, your doctor will submit a consultation report that will be accessible from the app.</p>
      <p>This is it for this brief tutorial, please click the button below to start using MyVirtualDoctor.</p>
      <button ion-button class="start-app" (click)="closeMenu()">START USING THE APP</button>
    </ion-footer>
  </ion-slide>

</ion-slides>
