<ion-header>
  <ion-toolbar>
    <ion-title>
      {{titles[(stepNumber - 1)]}} ( {{stepNumber}}/4 )
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="schedule-app">
  <div *ngIf="stepNumber === 1">
    <ion-list class="schedule-app-doctor" *ngIf="isDoctor">
      <ion-item>
        <ion-avatar item-left>
          <!--<img src="{{doctor.image_url | defaultimage | async}}">-->
          <img src="{{doctor.image_url}}" onError="this.src='assets/img/only_logo.png';">
        </ion-avatar>
        <h2>{{doctor.firstname}} {{doctor.lastname}}</h2>
        <p>{{doctor.city}}</p>
      </ion-item>
    </ion-list>
    <ion-list class="no-margin">
      <ion-item class="login_field" *ngIf="isDoctors">
        <ion-label stacked>
          Select Doctor
        </ion-label>
        <ion-select [(ngModel)]="selectedDoctor" (ionChange)="onSelectChange($event)">
          <ion-option *ngFor="let temp_doctor of doctors; let i = index" [value]="i">
            {{temp_doctor.firstname}} {{temp_doctor.lastname}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          Select Date
        </ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="{{currentDate}}" max="2050" [(ngModel)]="formData.date"
                      name="date" (ionChange)="dateChanged()"></ion-datetime>
      </ion-item>
      <ion-item class="login_field">
        <ion-label stacked>
          Select Time
        </ion-label>
        <ion-select [(ngModel)]="formData.time" name="time">
          <ion-option *ngIf="timeLength <= 0" value="">None</ion-option>
          <ion-option *ngFor="let availableTime of times" value="{{availableTime.start_time}}">
            {{availableTime.start_time}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!isWaived" class="login_field">
        <ion-label stacked>Consultation Type
        </ion-label>
        <ion-select [(ngModel)]="formData.consultationTypeID" name="consultationTypeID">
          <ion-option *ngFor="let consultationType of consultationTypes" value="{{consultationType.id}}">
            {{consultationType.duration}} minutes: ${{consultationType.rate}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="login_field">
        <ion-label stacked>Reasons for Appointment
        </ion-label>
        <ion-select [(ngModel)]="formData.reasonID" name="reasonID">
          <ion-option *ngFor="let reason of reasons" value="{{reason.id}}">{{reason.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="login_field">
        <ion-label stacked>Additional Notes
        </ion-label>
        <ion-textarea [(ngModel)]="formData.note" name="note" placeholder="Enter a message"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="stepNumber === 2" padding-left padding-right>


    <p><strong>Terms and Conditions</strong></p>
    <p>These Terms and Conditions define the obligations of My Virtual Doctor, LLC, its
      authorized agents and me, the service subscriber, and they establish the basic
      rules of safe and fair use of My Virtual Doctor, LLC services. &nbsp;My Virtual
      Doctor, LLC and its authorized agents reserve the right to immediately and
      without advance notice terminate the service and deny access to individuals who
      do not abide by the Terms and Conditions</p>
    <p>By using the My Virtual Doctor, LLC public Website, the My Virtual Doctor, LLC
      secure&nbsp;Website&nbsp;and the My Virtual Doctor, LLC telemedicine service, I signify my
      acceptance of the My Virtual Doctor, LLC services Terms and Conditions and
      software provider End User Agreement. &nbsp;If I do not accept the My Virtual Doctor,
      LLC services Terms and Conditions and software provider End User Agreement I
      should not use this service. &nbsp;If My Virtual Doctor, LLC or software provider
      changes the Terms and Conditions or End User Agreement, they will post those
      changes prominently. &nbsp;My continued use of the services and Websites following
      the posting of changes to these terms will mean I accept those changes. &nbsp;Changes
      to the Terms and Conditions and End User Agreement will become effective
      immediately upon posting on teh My Virtual Doctor, LLC Websites and shall
      supersede all prior versions of the Terms and Conditions and End User Agreement
      unless otherwise noted.</p>
    <p><strong>Privacy and Security</strong></p>
    <p>My Virtual Doctor, LLC considers the privacy of my health information to be one
      of the most important elements in our relationship with me. &nbsp;My Virtual Doctor,
      LLC's responsibility to maintain the confidentiality of my health information is
      one that they take very seriously. &nbsp;I accept My Virtual Doctor, LLC Privacy and
      Security Policy.</p>
    <p>I understand that it is extremely important that I keep my password to access My
      Virtual Doctor, LLC completely confidential. &nbsp;If at any time I feel that the
      confidentiality of my password has been compromised, I will change it by going
      to the Password link on the My Virtual Doctor, LLC website. &nbsp;I understand that
      My Virtual Doctor, LLC or their authorized vendors and agents take no
      responsibility for and disclaim any and all liability or consequential damages
      arising from a breach of health record confidentiality resulting from my sharing
      or losing my password. &nbsp;If My Virtual Doctor, LLC or their authorized vendors
      and agents discovers that I have inappropriately shared my password with another
      person, or that I have misused or abused my online access privileges in any way,
      my participation may be discontinued without prior notice.</p>
    <p><strong>Use of My Virtual Doctor, LLC for Health Care Services</strong></p>
    <p>My registration authorizes me to use My Virtual Doctor, LLC services as provided
      in this agreement. &nbsp;It is my duty to be truthful and accurate with all the
      information I enter into or upload to the system. &nbsp;I acknowledge that I
      understand that any misrepresentations about the patient's condition may result
      in serious harm to me or others. &nbsp;The law requires that every medical diagnostic
      or treatment encounter be documented. &nbsp;The documentation of consultation
      encounters with My Virtual Doctor, LLC is maintained in an electronic health
      record (EHR). &nbsp;I may also use my EHR to store other important medical
      information pertaining to my current health, medical&nbsp;condition&nbsp;and my health
      history. &nbsp;While my account with My Virtual Doctor, LLC is active and in good
      standing, I will have unlimited access to my medical information stored in my
      EHR.</p>
    <p>By accepting this Agreement, I am granted a non-transferable license subject to
      the terms of this Agreement to use My Virtual Doctor, LLC services. &nbsp;In order to
      be valid, my account myst contain certain required true, correct and verifiable
      information about my identity and medical history. &nbsp;In order to maintain access
      to My Virtual Doctor, LLC services, and in order for My Virtual Doctor, LLC to
      provide me important information regarding my medical treatment and my health,
      it is my responsibility to update my personal account information and to notify
      My Virtual Doctor, LLC of any changes in my home address, e-mail address,
      telephone number, or guardian or emergency contact. &nbsp;My failure to do so may
      result in interruption of service or My Virtual Doctor, LLC's inability to
      deliver to me important time sensitive information about my medical condition,
      medications, laboratory and diagnostic test results. &nbsp;I may update my personal
      information by accessing my registration information through the My Virtual
      Doctor, LLC Website by loggin in with my username and password.</p>
    <p>My Virtual Doctor, LLC's telemedicine consults are provided by clinicians
      dedicated to the safe and effective, evidence-based practice of telemedicine. &nbsp;I
      choose to enter into a clinician-patient relationship with My Virtual Doctor,
      LLC's clinicians. &nbsp;I agree to have my medical history and other diagnostic and
      medical documentation review by one of My Virtual Doctor, LLC clinicians. &nbsp;I
      acknowledge that My Virtual Doct, LLC clinicians do not prescribe DEA controlled
      substances, non-therapeutic drugs and certain other drugs which may be harmful
      because of their potential for abuse. &nbsp;My Virtual Doctor, LLC's clinicians
      reserve the right to deny care for potential misuse of services. &nbsp;My Virtual
      Doctor, LLC operates subject to state regulation and may not be available in
      certain states.</p>
    <p>For individuals who are under age 18, a parent or legal guardian must accept this
      Agreement on his or her behalf. &nbsp;I agree at all times not to falsify or
      misrepresent my identity or my authority to act on behalf on another person. &nbsp;I
      also agree to not attempt or facilitate to attack or undermine the security of
      the integrity of the systems or networks of My Virtual Doctor, LLC, the software
      provider or any of its authorized agents or affiliates.</p>
    <p>I understand that My Virtual Doctor, LLC should never be used for urgent matters.
      &nbsp;Therefore, for all urgent matters that I believe may immediately affect my
      health or well-being, I will, without delay, go to the emergency department of a
      local hospital, and/or dial 911.</p>
    <p>My Virtual Doctor, LLC makes the consultation report available for you to review
      to ensure that relevant signs and symptoms of patients presenting complaint are
      accurately documented and that you understand the treatment decision and
      instructions issued by the My Virtual Doctor, LLC health care provider. &nbsp;I am
      advised to immediately contact My Virtual Doctor, LLC if I disagree with or do
      not understand the contents of the consultation report or the instructions
      issued by the treating My Virtual Doctor, LLC health care provider.</p>
    <p>I understand that My Virtual Doctor, LLC clinicians or staff may send me
      messages. &nbsp;These messages may contain information that is important to my health
      and medical care. &nbsp;It is my responsibility to monitor these messages. &nbsp;By
      entering my valid and functional e-mail address and mobile phone number, I have
      enabled My Virtual Doctor, LLC to notify me of messages sent to my My Virtual
      Doctor, LLC inbox. &nbsp;I will update my e-mail address on My Virtual Doctor, LLC as
      needed. &nbsp;I agree not to hold My Virtual Doctor, LLC or its authorized vendors
      and agents liable for any loss, injury or claims of any kind resulting from My
      Virtual Doctor, LLC messages that I fail to read in a timely manner. &nbsp;I
      understand that contents of any message may be stored in my own permanent health
      record. &nbsp;I agree that all communication will be in regard to my own health
      condition(s). &nbsp;I understand that asking for advice on behalf of another person
      could potentially be harmful and is a violation of the My Virtual Doctor, LLC
      Terms and Conditions. &nbsp;My Virtual Doctor, LLC and its clinicians do not assume
      any responsibility for health information or services used by persons other than
      the primary account holder.</p>
    <p><strong>Deactivation of Account</strong></p>
    <p>I understand that my account may be deactivated upon my request or at the
      discretion of My Virtual Doctor, LLC for failure to meet these Terms and
      Conditions</p>
    <p><strong>Disclaimer</strong></p>
    <p>I understand that my account may not be available to me at all times due to
      unanticipated system failures, back-up procedures, maintenance, or other causes
      beyond the control of the My Virtual Doctor, LLC or its authorized vendors and
      agents. &nbsp;Access is provided on an "as-is as-is available" basis and My Virtual
      Doctor, LLC or its authorized vendors and agents do not guarantee that I will be
      able to access my account at all times</p>
    <p>I understand that My Virtual Doctor, LLC or its authorized vendors and agents
      take no responsibility for and disclaim any and all liability arising from any
      inaccuracies or defects in software, communication lines, the virtual private
      network, the Internet or my Internet Service Provider (ISP), access system,
      computer hardware or software, or any other service or device that I use to
      access my account.</p>
    <p>I understand taht the health care services rendered by My Virtual Doctor, LLC's
      clinicians are subject to their discretion and professional&nbsp;judgement. &nbsp;I
      understand that My Virtual Doctor, LLC operates subject to state regulation and
      may not be available in certain states.</p>
    <p><strong>Surveys</strong></p>
    <p>I understand that from time to time I may be asked to complete patient
      satisfaction surveys. &nbsp;My Virtual Doctor, LLC or its software provider, vendors,
      and agents may analyze information submitted via these surveys as part of
      descriptive (demographic) studies and reports. &nbsp;In such&nbsp;cases&nbsp;all of my personal
      indentifying information will be removed.</p>
    <p>If any provision or provisions of this Agreement shall be held to be invalid,
      illegal or unenforceable, the validity,&nbsp;legality&nbsp;and enforceability of the
      remaining provisions shall not be affected thereby.</p>
    <p>It is understood that no delay or omission in exercising any right or rememdy
      identified herin shall constitute a waiver of such right or remedy, and shall
      not be construed as a bar to or a waiver of any such right or remedy on any
      other occasion.</p>
    <p>My Virtual Doctor, LLC and its authorized agents and I agree to comply with all
      applicable laws and regulations of governmental bodies or agencies
      in&nbsp;performance&nbsp;of our respective obligations under this Agreement.</p>
    <p>&nbsp;</p>
    <p><strong>Consent for Treatment, Statement of Financial Responsibility/Assignment
      of Benefits</strong></p>
    <p><strong>Patient Consent for Treatment</strong></p>
    <p>As the patient and primary user for this telemedicine virtual consultation, I
      voluntarily give my permission to the health care providers of My Virtual
      Doctor, LLC and such assistants and other health care providers as they may deem
      necessary to provide medical services to me. &nbsp;I understand by signing this form,
      I am authorizing them to treat me for as long as I seek care from My Virtual
      Doctor, LLC providers, or until I withdraw my consent in writing</p>
    <p>Guardian of Patient Consent for Treatment</p>
    <p>As the legal guardin or healthcare conservator of the patient for which this
      telemedicine&nbsp;consultations&nbsp;is being scheduled, I give my permission to the
      health care providers of My Virtual Doctor, LLC and such assistants and other
      health care providers as they may deem necessary to provide medical services to
      me. &nbsp;I understand by signing this form, I am authorizing them to treat me for as
      long as I seek care from My Virtual Doctor, LLC providers, or until I withdraw
      my consent in writing.</p>
    <p><strong>Statement of Financial Responsibility/Assignment of Benefits</strong></p>
    <p>In consideration of our organization advancing credit to me for my health care
      and services, I hereby irrevocably assign and transfer to My Virtual Doctor, LLC
      and treating Clinicians all benefits and payments now due and payable or to
      become due and payable to me under and self-insurance program, under and
      third-party actions against any other person or entity, or under any other
      benefit plan or program (hereafter referred to as Benefits) for this or any
      other period of care.</p>
    <p>I understand and acknowledge that this assignment does not relieve me of my
      financial responsibility for all My Virtual Doctor, LLC charges and treating
      Clinician charges incurred by me or anyone on my behalf, and I hereby accept
      such responsibility, including but not limited to payment of those fees and
      charges not directly reimbursed to My Virtual Doctor, LLC and treating
      Clinicians by any Benefit plan or program. &nbsp;Furthermore, I agree to pay all
      costs of collection, reasonable attorney's fees and court costs incurred in
      enforcing this payment obligation.</p>
    <p><strong>Authorization to Process Claims and Release Information</strong></p>
    <p>I authorize My Virtual Doctor, LLc and the Clinician, caregivers and/or
      professional corporations that render services to me to process claims for
      payment by my insurance carrier on my behalf for covered services provided to me
      by My Virtual Doctor, LLC. &nbsp;I authorize the release of necessary information,
      including medical information, regarding medical services rendered during this
      consultation and treatment or any related services or claim, to my insurance
      carrier(s), including any managed care plan or other payor, past and/or present
      employer(s), Medicare, CHAMPUS/TRICARE, authorized private review entities
      and/or utilization review entitles acting on behalf of such insurance
      carrier(s), payers, managed care plans and/or employer(s), the billing agents
      and collection agents or attorneys of My Virtual Doctor, LLC and/or the
      physicians, caregivers and/or professional corporations, my employers Workers
      Compensation carrier, and, as applicable, the Social Security Administration,
      the Health Care Financing Administration, the Peer Review Organization acting on
      behalf of the federal government and/or any other federal or state agency for
      the purpose(s) of satisfying charges billed and/or facilitating utilization
      review and/or otherwise complying with the obligations of state or federal law.
      &nbsp;Authorization is hereby granted to release health record data and/or copies to
      my attending and/or admitting healthcare professional and/or any consulting
      healthcare professional and/or any healthcare professional I may be referred to
      for follow up care. &nbsp;I further authorize My Virtual Doctor,&nbsp;LLC&nbsp;and any other
      healthcare provider or professional rendering services to me to obtain from any
      source medical history, examinations, diagnoses, treatments and other health or
      insurance authorization information for the purpose(s) of satisfying charges
      billed and/or facilitating utilization review, provideing medical treatment
      and/or the evaluation of such treatment, and/or otherwise complying with the
      obligations of federal law. &nbsp;A photocopy of this Authorization may be
      honored.</p>
    <p><strong>Medicare Patients Certification, Authorization to Release Information,
      Request</strong></p>
    <p>I certify that the information given by my in applying for payment under Title
      XVIII of the Social Security Act is correct. &nbsp;I authorize any holder of medical
      or other information about me to release to the Social Security Administration
      or its intermediaries or carriers any information needed for this or a RELATED
      Medicare claim. &nbsp;I request that payment of authorized benefits be made on my
      behalf.</p>
    <!--<ion-item no-lines>-->
    <!--<ion-label class="no_white_space">I acknowledge and agree to the Terms and Conditions and Consent to Treatment-->
    <!--stated above.-->
    <!--</ion-label>-->
    <!--<ion-checkbox [(ngModel)]="agreed"></ion-checkbox>-->
    <!--</ion-item>-->
  </div>

  <div *ngIf="stepNumber === 3">
    <p *ngIf="isWaived" padding-right padding-left>The doctor has waived the billing for this consultation, please click
      the button below to
      proceed.</p>
    <ion-list *ngIf="!isWaived" class="no-margin">
      <h2 text-center>Billing Information</h2>
      <ion-item class="login_field">
        <ion-label floating>
          Debit/Credit Card Number
        </ion-label>
        <ion-input type="number" [(ngModel)]="formData.creditCard.number" name="creditCard.number"></ion-input>
      </ion-item>
      <ion-item class="login_field">
        <ion-label floating>
          Security Code
        </ion-label>
        <ion-input type="number" [(ngModel)]="formData.creditCard.code" name="creditCard.code"></ion-input>
      </ion-item>
      <ion-item class="login_field">
        <ion-label floating>
          Expiration Month
        </ion-label>
        <ion-select [(ngModel)]="formData.creditCard.month" name="creditCard.month">
          <ion-option *ngFor="let month of months" value="{{month.number}}">{{month.shortName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="login_field">
        <ion-label floating>
          Expiration Year
        </ion-label>
        <ion-select [(ngModel)]="formData.creditCard.year" name="creditCard.year">
          <ion-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="stepNumber === 4" padding-right padding-left>
    <p>Thank you for scheduling the appointment.
      Your appointment is confirmed and your doctor has been notified. Please show up at least 5 minutes before the
      appointment date/time.The appointment will also show up under your Dashboard > Confirmed Appointments page for
      reference.</p>
  </div>

  <div *ngIf="stepNumber > 1 && stepNumber < 4 && stepNumber != 2" padding class="left_btn">
    <button ion-button round icon-right (click)="backStep();">
      Back
      <ion-icon name="return-left"></ion-icon>
    </button>
  </div>
  <div *ngIf="stepNumber < 3 && stepNumber != 2" padding class="right_btn">
    <button ion-button round icon-right (click)="nextStep();">
      Next
      <ion-icon name="return-right"></ion-icon>
    </button>
  </div>
  <div *ngIf="stepNumber == 3" padding class="right_btn">
    <button ion-button round icon-right (click)="proceed();">
      Proceed
      <ion-icon name="send"></ion-icon>
    </button>
  </div>
</ion-content>

<ion-footer *ngIf="stepNumber == 2">
  <ion-item no-lines>
    <ion-label class="no_white_space">I acknowledge and agree to the Terms and Conditions and Consent to Treatment
      stated above.
    </ion-label>
    <ion-checkbox [(ngModel)]="agreed"></ion-checkbox>
  </ion-item>
  <div *ngIf="stepNumber > 1 && stepNumber < 4" padding class="left_btn">
    <button ion-button round icon-right (click)="backStep();">
      Back
      <ion-icon name="return-left"></ion-icon>
    </button>
  </div>
  <div *ngIf="stepNumber < 3" padding class="right_btn">
    <button ion-button round icon-right (click)="nextStep();">
      Next
      <ion-icon name="return-right"></ion-icon>
    </button>
  </div>
</ion-footer>
