schedule-appointment {
  ion-title {
    padding: 0 !important;
  }
  .schedule-app-doctor {
    margin: 0 !important;
    ion-item {
      background: #1549a2 !important;
      color: #fff !important;
      p {
        color: #fff !important;
        font-size: 12px !important;
      }
      ion-avatar {
        width: 50px !important;
        height: 50px !important;
        img {
          border: 2px solid #5b7eb9;
          padding: 2px;
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }
  .no-margin {
    margin: 0;
  }
  .left_btn {
    float: left;
  }
  .right_btn {
    float: right;
  }
  .no_white_space {
    white-space: normal;
  }
}
