<ion-header>
  <mvd-topheader title="MY FILES" isMyFiles="true" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="files.length <= 0">
    <ion-card-content>
      No documents found
    </ion-card-content>
  </ion-card>
  <div *ngIf="files.length > 0">
    <ion-row *ngFor="let file of files; let i = index">
      <ion-col width-40>
        {{file.title || 'Untitled File'}}
      </ion-col>
      <ion-col width-30 text-center>
        {{file.filesize}}
      </ion-col>
      <ion-col width-30 text-center>
        {{file.date_time}}
      </ion-col>
      <ion-col width-20 text-right>
        <button ion-button clear (click)="openActions(i)">
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer *ngIf="isAndroid">
  <ion-toolbar>
    <div padding class="login_button">
      <!--<input type="file" (change)="upload($event)" id="file-input" style="opacity: 0" #fileInp>-->
      <button primary_grediant ion-button round full icon-right (click)="upload()">Upload New Document</button>
      <!--<button *ngIf="!isAndroid" primary_grediant ion-button round full icon-right (click)="upload($event)">Upload New Document</button>-->
      <!--<input type="file" #selectedFile style="display: none;">-->
      <!--<button primary_grediant ion-button round full icon-right (click)="upload(selectedFile)"> Upload New Document-->
      <!--</button>-->
    </div>
  </ion-toolbar>
</ion-footer>
