<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit My Medications
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Edit Medication</ion-label>
      <ion-input type="text" [(ngModel)]="condition_term"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Edit Quantity (1 Pill)</ion-label>
      <ion-input type="text" [(ngModel)]="dosage"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Edit Frequency</ion-label>
      <ion-select [(ngModel)]="frequency">
        <ion-option value="Once">Once</ion-option>
        <ion-option value="Twice">Twice</ion-option>
        <ion-option value="Three times">Three times</ion-option>
        <ion-option value="Four times">Four times</ion-option>
        <ion-option value="Five times">Five times</ion-option>
        <ion-option value="Six times">Six times</ion-option>
        <ion-option value="As Needed">As Needed</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Edit Time</ion-label>
      <ion-select [(ngModel)]="time">
        <ion-option value="Daily">Daily</ion-option>
        <ion-option value="Weekly">Weekly</ion-option>
        <ion-option value="Monthly">Monthly</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button item-right (click)="changeMedication()">Update</button>
</ion-content>
