<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-tabs>
    <ion-tab tabIcon="lock" tabTitle="Change Password" [root]="changePassword" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab tabIcon="notifications" tabTitle="Notifications" [root]="notifications" tabsHideOnSubPages="true"></ion-tab>
  </ion-tabs>
</ion-content>
