@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .content {
    ion-item{
          ion-avatar{
            small{
              font-size: 12px !important;
            }
            h2{
              font-size: 2rem !important;
            }
          }
          ion-label{
            h2{
              font-size:2rem !important;
            }
            p{
              font-size: 15px !important;
            }
         }
       .button-inner {
            ion-icon{
              font-size: 1.8em !important;
            }
         }
      }
    .button-clear-ios{color: #343434;}
  }
}
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
  .content {
    ion-item{
      ion-avatar{
        small{
          font-size: 12px !important;
        }
        h2{
          font-size: 2rem !important;
        }
      }
      ion-label{
        h2{
          font-size:2rem !important;
        }
        p{
          font-size: 15px !important;
        }
      }
      .button-inner {
        ion-icon{
          font-size: 1.8em !important;
        }
      }
    }
    .button-clear-ios{color: #343434;}
  }
}