// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
@mixin primary_grediant() {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #198BB8),
      color-stop(1, #1152A2)
  ) !important;
  background-image: -o-linear-gradient(bottom, #198BB8 0%, #1152A2 100%) !important;
  background-image: -moz-linear-gradient(bottom, #198BB8 0%, #1152A2 100%) !important;
  background-image: -webkit-linear-gradient(bottom, #198BB8 0%, #1152A2 100%) !important;
  background-image: -ms-linear-gradient(bottom, #198BB8 0%, #1152A2 100%) !important;
  background-image: linear-gradient(to bottom, #198BB8 0%, #1152A2 100%) !important;
}

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  pink: #b70e81,
  red_violet: #b70e81,
  success: #BCF5BC,
  success_text: darkgreen,
  error: #FF8181
);

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  /*message-trash .content-ios .list-ios > .item-block, message-view .content .list > .item-block{
    padding: 8px 9px;
  }
  ion-item.item.item-block.item-ios ion-icon.icon.icon-ios.ion-ios-options, message-inbox .content .button-clear ion-icon, .item-ios .item-button, .item-ios .item-button, page-my-files .content [ion-button]{
    font-size: 3.0rem !important;
  }
  .item-ios .item-button, .item-ios .item-button, page-my-files .content [ion-button]{
    color:#343434;
  }
  page-appointment .content.customContent ion-list.myCustomList ion-item ion-avatar, message-inbox .content .item ion-avatar ion-img, message-inbox .content .item ion-avatar img, message-view .content .item ion-avatar ion-img, message-view .content .item ion-avatar img{
    width: 80px !important;
    height: 80px !important;
  }
  ion-avatar, ion-thumbnail{
    line-height: 18px !important;
  }
  appointment-past .appoint-date h2{
    font-size: 2.2rem !important;
  }
  page-appointment .content.customContent .label h2, message-inbox .content .label h2, message-view .content .label h2{
    font-size: 20px !important;
  }
  page-appointment .content.customContent .label p, message-inbox .content .label p, message-view .content .label p, message-view .content .message-clock p, .tabs .tabbar .tab-button{
    font-size: 15px !important;
  }
  .tabs .tabbar .tab-button{
    min-height: 72px !important;
  }
  ion-row{
    font-size: 16px !important;
  }
  .popover-viewport {
    padding: 0px 31px;
  }
  .popover-viewport button.disable-hover.item-button.button.button-ios.button-clear.button-clear-ios {
    font-size: 1.5rem !important;
  }
  .label-ios[stacked]{     font-size: 1.5rem !important;}
  .item-ios{ font-size: 1.9rem !important; }*/
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}


ion-toast.success {
  div.toast-wrapper {
    background: #{map-get($colors, success)};
    .toast-message {
      color: #{map-get($colors, success_text)};
    }
  }

}

ion-toast.error {
  div.toast-wrapper {
    background: #{map-get($colors, error)};
    .toast-message {
      color: #{map-get($colors, light)};
    }
  }
}

[primary_grediant] {
  @include primary_grediant();
}

[text-center] {
  text-algin: center;
}

[text-right] {
  text-algin: right;
}

[text-button] {
  margin: 0 !important;
  height: auto !important;
  background: none;
}

[purple] {
  color: #ac1f61 !important;
}

[icon-notification] {
  ion-badge {
    position: absolute;
    right: 4px;
    top: 0;
    padding: 2px 5px;
    font-size: 11px;
  }
  ion-icon {
    color: #fff !important;
    margin-right: 7px;
  }

}

[subheader] {
  [start] {
    float: left;
    width: 60%;

    [ion-button] {
      width: 100%;
    }
    .progressbar {
      width: 80%;
      height: 17px;
      background: #fff;
      border-radius: 10px;
    }
    .progressbar span.progress {
      background: #b70e81;
      height: 17px;
      z-index: 999;
      float: left;
      position: sticky;
      border-radius: 100px;
    }
  }
  [end] {
    float: right;
    width: 43%;

  }
  .toolbar-background {
    background: #103472 !important;
    color: #fff !important;
  }
  .item {
    color: #fff !important;
    background: none !important;
    padding: 0;
  }
  ion-button {
    .item {
      background: none !important;
    }
  }
  .item.item-block .item-inner {
    border-bottom: 0;
  }
  .label {
    margin: 0 8px 0 0;
  }
  ion-avatar {
    img {
      border: 2px solid #fff;
    }
  }
  ion-button {
    color: #fff !important;
  }

}

[icon-search] {

  background: #fff !important;
  position: relative !important;
  right: -8px;
  border-top-left-radius: 22px !important;
  border-bottom-left-radius: 21px !important;
  padding: 21px 8px !important;

  ion-icon {
  }

}

[dash-icon-notification] {
  ion-badge {
    position: absolute !important;
    top: 9px;
    right: 0;
    border-bottom-left-radius: 0 !important;
    font-size: 16px;
    z-index: 999;
    padding: 7px 11px;
  }
}

[width-40] {
  width: 40% !important;
}

[width-30] {
  width: 30% !important;
}

[width-20] {
  width: 20% !important;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #2b2b2b !important;
  background-color: transparent;
}

.badge {
  border-radius: 10px !important;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

//@import "global";
