message-trash {
  .content-ios{
    .item-ios{
      padding-left: 7px;
    }
    .list-ios  > .item-block{
      border-bottom: 0.55px solid #e7eaef !important;
    }
    .list-ios .item-block .item-inner{
      border-bottom:0;
    }
    .item-ios ion-avatar ion-img, .item-ios ion-avatar img{
      border: 2px solid #d3dceb;
      padding: 3px;
      width: 50px;
      height: 50px;
    }
    .item-ios ion-avatar[item-left]{
      margin: 0 10px 0 0;
      position: relative;
    }
    .button-clear-ios{
      float:right;
      padding:0;
      margin:0;
      height: auto;
      color: #565656;
    }
    .message-clock p{
      font-size: 12px;
      padding-top: 0;
    }
    .label-ios{
      white-space: inherit;
    }
    .label-ios h2{
      font-size: 17px;
      color: #0f2e64;

    }
    .label-ios p{
      font-size: 12px;
    }

    .fab-ios-light {
      color: #fff;
      background-color: #b70e81;
    }
    .badge-ios{
      text-indent: 9999px;
      width: 14px;
      overflow: hidden;
      height: 14px;
      position: absolute;
      top: 2px;
      padding: 0;
      left: 3px;
    }
    ion-icon{
      font-size:30px;
    }
  }
}
