<ion-header>
  <ion-toolbar>
    <ion-title>
      Waiting Room
    </ion-title>
    <ion-buttons *ngIf="canClose" end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid text-center>
    <ion-row >
      <h3 style="margin: 0 auto;">{{appointmentTime}} minutes left!</h3>
    </ion-row>
    <ion-row >
      <img src="assets/img/animated-Timer.gif" alt="" style="margin: 0 auto;">
    </ion-row>
    <ion-row *ngIf="!isKnocking && !isKnocked" >
      <h5 style="margin: 0 auto;">Video Consultation Starts shortly. Please wait...</h5>
    </ion-row>
    <ion-row *ngIf="isKnocking" style="margin-top: 20px;">
      <h5 style="margin: 0 auto;">Your doctor is already in consultation room. Do you want to knock and start the consultation now?</h5>
      <button ion-button style="margin: 15px auto 0;" round (click)="knockDoctor()">Yes</button>
    </ion-row>
    <ion-row *ngIf="isKnocked" style="margin-top: 20px;">
      <h5 style="margin: 0 auto;">You successfully knocked. Please wait your doctor will start consultation shortly.</h5>
    </ion-row>
  </ion-grid>
  <!--<div vertical-align-bottom>-->
    <!---->
  <!--</div>-->
</ion-content>
