<ion-header>
  <mvd-topheader title="DRAFTS" [messageNested]="false" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="messages.length <= 0">
    <ion-item >
      <h2>No Message Found.</h2>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="messages.length > 0">
    <ion-item *ngFor="let message of messages; let i = index">
      <ion-avatar item-left (click)="openMessage(i)">
        <!--<img src="{{message.image_url | defaultimage | async}}">-->
        <img src="{{message.image_url}}" onError="this.src='assets/img/only_logo.png';">
      </ion-avatar>
      <div (click)="openMessage(i)">
        <h2>{{message.subject}}</h2>
        <p [innerHTML]="message.message"></p>
      </div>
      <ion-note item-right class="message-clock">
        <button ion-button clear (click)="removeDialog(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-fab right bottom #fab>
    <button ion-fab color="light">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="openCompose(fab)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-fab (click)="openSearch(fab)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
