searchform {
  ion-list{
    margin:0 !important;
  }
  ion-item{
    ion-icon{
      right:4%;
      font-size:20px !important;
      position:absolute;
    }
  }
}
.popover-content{
  width: 105% !important;
  left: -3% !important;
  padding: 0 9px;
}
