<ion-list>
  <!--<ion-item>-->
    <!--<ion-label>Online Now</ion-label>-->
    <!--<ion-toggle [(ngModel)]="onlineNow"></ion-toggle>-->
  <!--</ion-item>-->
  <ion-item class="login_field">
    <ion-label stacked>Online Now
      <ion-icon name="contact"></ion-icon>
    </ion-label>
    <ion-select [(ngModel)]="onlineNow">
      <ion-option [value]="true">Online</ion-option>
      <ion-option [value]="false">Online or Offline</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="login_field">
    <ion-label stacked>State
      <ion-icon name="contact"></ion-icon>

    </ion-label>
    <ion-select [(ngModel)]="state" (ionChange)="stateChange($event)">
      <ion-option [value]="0">Select a State</ion-option>
      <ion-option *ngFor="let stateTemp of states"
                  [value]="stateTemp.id"
      >
        {{stateTemp.name}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="login_field">
    <ion-label stacked>Specialty
      <ion-icon name="contact"></ion-icon>
    </ion-label>
    <ion-select [(ngModel)]="specialty">
      <ion-option value="">Select a Speciality</ion-option>
      <ion-option *ngFor="let specialty of specialties" value="{{specialty.name}}">{{specialty.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="login_field">
    <ion-label stacked>Doctor Name
      <ion-icon name="mail"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="doctor_name"></ion-input>
  </ion-item>
  <ion-item class="login_field">
    <ion-label stacked>Doctor Phone Number
      <ion-icon name="call"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="doctor_phone_number"></ion-input>
  </ion-item>
  <div padding>
    <button primary_grediant ion-button round full icon-right (click)="searchSubmit()">Search Now
      <ion-icon name="search"></ion-icon>
    </button>
  </div>
</ion-list>
