<ion-header>
  <mvd-topheader title="SETTINGS" [data]="tokenAndUserID.data" [isSettings]="false"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="login_field">
      <ion-label floating>
        Current Password
      </ion-label>
      <ion-input [type]="!isPasswordVisible.current ? 'password' : 'text'"
                 [(ngModel)]="passwordData.currentPassword"></ion-input>
      <ion-icon [name]="!isPasswordVisible.current ? 'eye' :'eye-off'" item-right
                (click)="showCurrentPassword()"></ion-icon>
    </ion-item>
    <ion-item class="login_field">
      <ion-label floating>
        New Password
      </ion-label>
      <ion-input [type]="!isPasswordVisible.newP ? 'password' : 'text'"
                 [(ngModel)]="passwordData.newPassword"></ion-input>
      <ion-icon [name]="!isPasswordVisible.newP ? 'eye' :'eye-off'" item-right (click)="showNewPassword()"></ion-icon>
    </ion-item>
    <ion-item class="login_field">
      <ion-label floating="">
        New Password Again
      </ion-label>
      <ion-input [type]="!isPasswordVisible.newPAgain ? 'password' : 'text'"
                 [(ngModel)]="passwordData.newPasswordAgain"></ion-input>
      <ion-icon [name]="!isPasswordVisible.newPAgain ? 'eye' :'eye-off'" item-right
                (click)="showNewPasswordAgain()"></ion-icon>
    </ion-item>
    <ion-item no-lines class="customButton">
     <button primary_grediant ion-button round full  (click)="changePassword()">
        Change
      </button>
    </ion-item>
  </ion-list>
</ion-content>
