page-change-password {
  ion-icon {
    z-index: 999999999;
  }
  .customButton {
    ion-label {
      text-align: center;
      button {
        padding: 21px 25px !important;
        color: #fff !important;
        font-size: 18px !important;
      }
    }
  }
}
