@import "../../node_modules/ionic2-auto-complete/auto-complete";

ion-menu{
  ion-header{
    ion-toolbar{
      .toolbar-background{
        background: #f5f5f5 !important;
        border:0 !important;
      }
      ion-title{
        padding: 3px 55px 1px !important;
      }
    }
  }
  .content{
    background: #103472 !important;
    ion-list{
     .item{
       background: #103472 !important;
       color: #fff;
       font-weight: 100;
       padding: 0;
       border: 0 !important;
       .item-inner{
         padding-left: 20px;
         border-bottom: 1px solid #194084 !important;
       }
     }
    }
  }

}

tooltip-box {
  top: 40px !important;
  background-color: rgba(183, 14, 129, 0.8) !important;
}

.has-arrow:before {
  right: 15%;
  border-bottom-color: rgba(183, 14, 129, 0.8) !important;
}

// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
