<ion-header>
  <mvd-topheader title="My Health" [healthNested]="false" [data]="tokenAndUserID.data"></mvd-topheader>
  <ion-list>
    <ion-item class="health-cond">
      <h3>My Health Conditions</h3>
      <div item-right>
        <button ion-button round clear [class]="(is_health === true) ? 'active' : ''"
                (click)="changeIsHealth(true)">Yes
        </button>
        <button ion-button round clear [class]="(is_health === false) ? 'active' : ''"
                (click)="changeIsHealth(false)">No
        </button>
      </div>
      <!--<ion-label>My Health Conditions</ion-label>-->
      <!--<ion-toggle [(ngModel)]="is_health" checked="{{is_health}}" (ionChange)="changeIsHealth()"></ion-toggle>-->
      <!--<button ion-button round>Yes</button>-->
      <!--<button ion-button round>No</button>-->
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-fab *ngIf="is_health" bottom right>
    <button ion-fab color="red_violet" (click)="openAdd()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngIf="is_health">
    <ion-item *ngIf="healthData.length <= 0">
      <h3>No medical conditions reported</h3>
    </ion-item>
    <ion-item *ngFor="let item of healthData; let i = index">
      <h2>{{item.condition_term}}</h2>
      <h3>{{item.date}}</h3>
      <button ion-button clear item-right (click)="openEdit(i)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button clear item-right (click)="removeDialog(i)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
