doctor-profile {
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    ion-content{
      ion-item.item.item-block.item-ios{
        padding: 0 20% !important;
      }
      ion-avatar ion-badge{
        right: inherit !important;
        margin-left: 18px !important;
      }
     ion-item ion-avatar img {
        width: 150px !important;
        height: 150px !important;
      }
    }

  }
  @media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    ion-content{
      ion-item.item.item-block.item-ios{
        padding: 0 20% !important;
      }
      ion-avatar ion-badge{
        right: inherit !important;
        margin-left: 18px !important;
      }
      ion-item ion-avatar img{
        width: 150px !important;
        height: 150px !important;
      }
    }
  }

  ion-content {
    background: #e6e6e6 !important;
    .scroll-content {
      margin-bottom: 52px;
    }
  }
  .content {

    ion-item {
      background: #092961;
      padding: 22px 19px;
      border: 0 !important;
    }
    .item-inner {
      padding: 0 !important;
      border: 0 !important;
    }
    ion-avatar {
      text-align: center;
      position: relative;

      img {
        width: 150px !important;
        height: 150px !important;
        margin: 0 auto;
        border: 2px solid #2e4b7d;
        padding: 5px;
      }
      ion-badge {
        overflow: hidden;
        text-indent: 999px;
        width: 20px;
        top: 0;
        position: absolute;
        right: 48px;
      }

    }
    h2 {

      text-align: center;
      color: #fff !important;
      padding-top: 21px;
      font-size: 21px !important;

      span {
        color: yellow;
        position: relative;
        top: -7px;
        margin-left: -4px;
      }
    }
    [ion-button] {
      margin: 0 !important;
      height: auto;
      padding: 7px 12px;
      background-color: #b70e81;

      ion-icon {
        font-size: 36px;
      }

    }
    ion-segment {
      ion-segment-button {
        border: 0 !important;
        color: #1e1e1e !important;
        border-right: 1px solid #ccc !important;
        font-size: 14px !important;
        padding: 6px 5px;
        height: auto !important;
        border-radius: 0 !important;
        background-color: #fff !important;
        border-bottom: 1px solid #efefef !important;
      }
      .segment-activated {
        background-color: #e6e6e6 !important;
      }

    }
    .details {
      background: #e6e6e6;
    }
    .details-inner {
      ion-list {
        margin: 0 !important;
        padding: 15px !important;
      }
    }

  }
  .tabs-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .tb-list {
    float: left;
    width: 33.3%;
    padding: 8px 0;
    background: #1448a2;
    color: #fff;
    margin: 0;
    border-radius: 0;
    height: auto;

    ion-icon {
      min-width: 2.4rem;
      font-size: 2.4rem;
      display: block;
    }
    span {
      font-size: 1.2rem;
      display: block;
    }
  }
  .tb-list.bookappoint {
    background: #b70e81;
  }
}
