<ion-header>
  <mvd-topheader title="Doctor Profile" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <div *ngIf="doctor">
    <ion-item>
      <button ion-button round item-left (click)="openSchedule()">
        <ion-icon name="time"></ion-icon>
      </button>
      <ion-avatar>
        <!--<img src="{{doctor.image_url | defaultimage | async}}">-->
        <img src="{{doctor.image_url}}" onError="this.src='assets/img/only_logo.png';">
        <ion-badge *ngIf="doctor.online_status === 'online'" color="secondary">online</ion-badge>
        <ion-badge *ngIf="doctor.online_status === 'offline'" color="pink">offline</ion-badge>
      </ion-avatar>
      <button ion-button round item-right (click)="openCompose()">
        <ion-icon name="mail"></ion-icon>
      </button>
      <h2>{{doctor.firstname}} {{doctor.lastname}} <!--<span><ion-icon name="star"></ion-icon></span>--></h2>
    </ion-item>

    <div class="details">
      <div>
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="about">
            About
          </ion-segment-button>
          <ion-segment-button value="specialties">
            Specialties
          </ion-segment-button>
          <ion-segment-button value="education">
            Education
          </ion-segment-button>
        </ion-segment>
      </div>

      <div class="details-inner" [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'about'">
          {{doctor.about || 'N/A'}}
        </ion-list>

        <ion-list *ngSwitchCase="'specialties'">
          <ul *ngIf="doctor.specials.length > 0">
            <li *ngFor="let special of doctor.specials">{{special.speciality || 'N/A'}}</li>
          </ul>
          <ul *ngIf="doctor.specials.length <= 0">
            <li>No information available</li>
          </ul>
        </ion-list>

        <ion-list *ngSwitchCase="'education'">
          <ul *ngIf="doctor.educations.length > 0">
            <li *ngFor="let education of doctor.educations">
              <span
                *ngIf="education.from_year != '' && education.to_year != '' && education.name != '' && education.institute != ''">
                {{education.from_year}} - {{education.to_year}}
                {{education.name}}
                {{education.institute}}
              </span>
              <span
                *ngIf="education.from_year == '' && education.to_year == '' && education.name == '' && education.institute == ''">N/A</span>
            </li>
          </ul>
          <ul *ngIf="doctor.educations.length <= 0">
            <li>No information available</li>
          </ul>
        </ion-list>
      </div>
    </div>
    <div class="details">
      <div>
        <ion-segment [(ngModel)]="licen">
          <ion-segment-button value="licensed">
            Licensed States
          </ion-segment-button>
          <ion-segment-button value="language">
            Language(s) Spoken
          </ion-segment-button>
          <ion-segment-button value="awards">
            Awards
          </ion-segment-button>
        </ion-segment>
      </div>
      <div class="details-inner" [ngSwitch]="licen">
        <ion-list *ngSwitchCase="'licensed'">
          <ul *ngIf="doctor.licenced_states.length > 0">
            <li *ngFor="let licenced_state of doctor.licenced_states">{{licenced_state.state_name || 'N/A'}}</li>
          </ul>
          <ul *ngIf="doctor.licenced_states.length <= 0">
            <li>No information available</li>
          </ul>
        </ion-list>
        <ion-list *ngSwitchCase="'language'">
          <ul *ngIf="doctor.languages.length > 0">
            <li *ngFor="let language of doctor.languages">{{language || 'N/A'}}</li>
          </ul>
          <ul *ngIf="doctor.languages.length <= 0">
            <li>No information available</li>
          </ul>
        </ion-list>
        <ion-list *ngSwitchCase="'awards'">
          <ul *ngIf="doctor.awards.length > 0">
            <li *ngFor="let award of doctor.awards">
              <span *ngIf="award.year != '' && award.name != ''">
                {{award.year}}
                {{award.name}}
              </span>
              <span *ngIf="award.year == '' && award.name == ''">N/A</span>
            </li>
          </ul>
          <ul *ngIf="doctor.awards.length <= 0">
            <li>No information available</li>
          </ul>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="doctor">
  <div class="tabs-bottom">
    <button ion-button class="tb-list bookappoint" (click)="openSchedule()">
      <ion-icon name="ios-stopwatch-outline"></ion-icon>
      <span>Book Appointment</span>
    </button>
    <button ion-button class="tb-list" (click)="openCompose()">
      <ion-icon name="ios-mail-outline"></ion-icon>
      <span>Message</span>
    </button>
    <ng-template #removePhysicianTemplate>
      <button ion-button class="tb-list" (click)="removePhysician(doctor)">
        <ion-icon name="remove"></ion-icon>
        <span>Remove Physicians</span>
      </button>
    </ng-template>
    <button ion-button *ngIf="!doctor.isFav; else removePhysicianTemplate" class="tb-list"
            (click)="addPhysician(doctor)">
      <ion-icon name="add"></ion-icon>
      <span>Add Physicians</span>
    </button>
  </div>
</ion-footer>
