page-my-physicians {
  @import "../../theme/IpadStyle_phycians";
  ion-content {
    background: url(../assets/img/message-bg.jpg);

    ion-list {
      margin: 10px 0 10px 10px !important;
    }
  }
}
