<ion-header>
  <mvd-topheader title="MY PHYSICIANS" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="doctors.length > 0">
    <doctor-list *ngFor="let doctor of doctors" [doctor]="doctor" [tokenAndUserID]="tokenAndUserID"></doctor-list>
  </ion-list>
  <ion-list *ngIf="doctors.length <= 0">
    <ion-card-content>
      You are currently not connected to any doctors. Search doctor and connect.
    </ion-card-content>
  </ion-list>
</ion-content>
