<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Other Data
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngIf="isOther">
      <ion-label color="primary" floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="allergy.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Symptom</ion-label>
      <ion-select [(ngModel)]="allergy.symptom">
        <ion-option value="Severity">Severity</ion-option>
        <ion-option value="Unspecified">Not Sure</ion-option>
        <ion-option value="Mild">Mild</ion-option>
        <ion-option value="Moderate">Moderate</ion-option>
        <ion-option value="Severe">Severe</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Reaction</ion-label>
      <ion-input type="text" [(ngModel)]="allergy.reaction"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button item-right (click)="addData()">Done</button>
</ion-content>
