message-inbox {
  .content {
    .item {
      padding-left: 7px;
    }
    .list > .item-block {
      border-bottom: 0.55px solid #e7eaef !important;
    }
    .list .item-block .item-inner {
      border-bottom: 0;
    }
    .item ion-avatar ion-img, .item ion-avatar img {
      border: 2px solid #d3dceb;
      padding: 3px;
      width: 50px;
      height: 50px;
    }
    .item ion-avatar[item-left] {
      margin: 0 10px 0 0;
      position: relative;
    }
    .button-clear {
      float: right;
      padding: 0;
      margin: 0;
      height: auto;
      color: #565656;
      ion-icon {
        font-size: 30px;
      }
    }
    .message-clock p {
      font-size: 12px;
      padding-top: 0;
    }
    .label {
      white-space: inherit;
    }
    .label h2 {
      font-size: 17px;
      color: #0f2e64;
      span {
        font-size: 13px;
        ion-icon {
          padding-right: 5px;
        }
      }
    }

    .label p {
      font-size: 12px;
    }

    .fab-ios-light {
      color: #fff;
      background-color: #b70e81;
    }
    .badge {
      text-indent: 9999px;
      width: 14px;
      overflow: hidden;
      height: 14px;
      position: absolute;
      top: 2px;
      padding: 0;
      left: 3px;
    }
    .unread.item ion-avatar ion-img, .unread.item ion-avatar img {
      opacity: 1;
      border-color: #bbb;
    }
    .unread .label {
      h2, p {
        font-weight: bold;
      }
    }
  }
}

.tabs .tabbar {
  background: #1448a2;
  color: #fff;
  .tab-button {
    color: #fff !important;
    min-height: 57px;
    font-size: 12px;
  }
  .tab-button-icon {
    color: #fff !important;
    margin-top: 0;
  }
  [aria-selected="true"] {
    background: #0f2e64;
  }
}
