<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-title>Welcome To My Virtual Doctor</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="wel-sec" no-bounce>
  <img src="assets/img/welcome-doc.png"/>
</ion-content>
<ion-footer>
  <ion-toolbar  class="welcome-text">
    <div padding class="assist-wel">
      <img src="assets/img/welcome-logo.png"/>
      <p>Before we can search and find the right physician for you, there is some information that you are required to provide. Kindly click the button below to start.</p>
    </div>
    <div padding class="login_button">
      <button primary_grediant ion-button round full icon-right (click)="openBasicInformation()" [attr.disabled]="isEnabled ? '' : null">PROCEED</button>
    </div>
  </ion-toolbar>
</ion-footer>
