<ion-header>
  <mvd-topheader title="SETTINGS" [data]="tokenAndUserID.data" [isSettings]="false"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> Notify on New Messages</ion-label>
      <ion-toggle [disabled]="isDisabled" [checked]="notify.message" [(ngModel)]="notify.message" (ionChange)="notifyMessageChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Notify on Appointment Changes</ion-label>
      <ion-toggle [disabled]="isDisabled" [checked]="notify.appointment" [(ngModel)]="notify.appointment" (ionChange)="notifyAppointmentChange()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
