page-myprofile {
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    ion-content{
      ion-label{
        font-size: 1.5rem !important;
      }
      ion-item{
        ion-label{
          small{
            font-size:100% !important
          }
          .progressbar{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  @media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    ion-content{
      ion-label{
        font-size: 1.5rem !important;
      }
      ion-item{
        ion-label{
          small{
            font-size:100% !important
          }
          .progressbar{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .content  {

    ion-item.profile_main{
      background: #092961;
      padding: 22px 19px;
      border: 0 !important;
    }
    .item-inner{
      padding: 0 !important;
      border:0 !important;
    }
    ion-avatar{
      text-align: center;
      position:relative;

      img{
        width: 150px !important;
        height: 150px !important;
        margin: 0 auto;
        border: 2px solid #2e4b7d;
        padding: 5px;
      }
      ion-badge{
        overflow: hidden;
        text-indent: 999px;
        width: 20px;
        top: 0;
        position: absolute;
        right:28px;
      }

    }
    h2{

      text-align: center;
      color: #fff;
      padding-top: 21px;
      font-size: 21px;

      span{
        color:yellow;
        position: relative;
        top: -7px;
        margin-left: -4px;
      }
    }
    [ion-button]{

      ion-icon{
        font-size: 36px;
      }

    }
    .login_field {

      ion-icon {
        right:15px;
        padding-top: 15px;
        font-size:30px;
        position:absolute;
        color:#343434;
      }
      border-bottom:1px solid #ccc;

    }
    ion-segment{
      ion-segment-button{
        border:0 !important;
        color:#1e1e1e !important;
        border-right:1px solid #ccc !important;
        font-size: 14px !important;
        padding: 6px 0;
        height: auto !important;
        border-radius: 0 !important;
        background-color: #fff !important;
        border-bottom: 1px solid #efefef !important;
      }
      .segment-activated{
        background-color: #e6e6e6 !important;
      }

    }
    .details {
      background: #e6e6e6;
    }
    .details-inner{
      ion-list{
        margin:0 !important;
        padding: 15px !important;
      }
    }
    ion-label{
      white-space:normal;
      .name-area{
        h2{
          margin:0;
          text-align:left;
          padding: 0px 0px 10px;
        }
        small{
          color: #fff ;
        }
      }
    }
    .progressbar {
      width: 80%;
      height: 17px;
      background: #fff;
      border-radius: 10px;
    }
    .progressbar span.progress {
      background: #b70e81;
      height: 17px;
      z-index: 999;
      float: left;
      position: sticky;
      border-radius: 100px;
    }
  }
}
