<ion-header>
  <mvd-topheader title="MY PROFILE" [profileNested]="false" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-item class="profile_main">
    <ion-avatar item-left>
      <!--<img [src]="profileImage | defaultimage | async" (click)="getImage()">-->
      <img [src]="profileImage" onError="this.src='assets/img/only_logo.png';" (click)="getImage()">
      <ion-badge color="secondary">online</ion-badge>
    </ion-avatar>
    <div class="name-area">
      <h2>{{fullName}}</h2>
      <div class="progressbar">
        <span class="progress" [ngStyle]="{'width': profileCompletion.percentage}"></span>
      </div>
      <small>{{profileCompletion.text}}</small>
    </div>
  </ion-item>
  <ion-list>
    <ion-item class="login_field">
      <ion-label stacked>First Name
        <ion-icon name="contact"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="profileData.firstName"></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Last Name
        <ion-icon name="contact"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="profileData.lastName"></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Email
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="profileData.email" disabled></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Address
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="profileData.address"></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>City
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="profileData.city"></ion-input>
    </ion-item>
    <ion-item *ngIf="!isStates" class="login_field">
      <ion-label stacked>State / Province (Optional)
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="profileData.optionalState"></ion-input>
    </ion-item>
    <ion-item *ngIf="isStates" class="login_field">
      <ion-label stacked>State
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-select [(ngModel)]="profileData.stateID">
        <ion-option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Zip
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="profileData.zip"></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Country
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-select [(ngModel)]="profileData.country" (ionChange)="checkCountryChangeState()">
        <ion-option *ngFor="let country of countries" value="{{country.full_name}}">{{country.full_name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Date of Birth
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="profileData.dob"></ion-datetime>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Gender
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-select [(ngModel)]="profileData.gender">
        <ion-option value="1">Male</ion-option>
        <ion-option value="2">Female</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Time Zone
        <ion-icon name="pin"></ion-icon>
      </ion-label>
      <ion-select [(ngModel)]="profileData.timeZone">
        <ion-option *ngFor="let timeZone of timeZones" value="{{timeZone.var}}">{{timeZone.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Cell Phone
        <ion-icon name="call"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="profileData.cellPhone"></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Weight Lbs.
        <ion-icon name="medical"></ion-icon>
      </ion-label>
      <ion-input type="number" [(ngModel)]="profileData.weight"></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Height Ft.
        <ion-icon name="medical"></ion-icon>
      </ion-label>
      <ion-input type="number" [(ngModel)]="profileData.height.feet"></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Height In.
        <ion-icon name="medical"></ion-icon>
      </ion-label>
      <ion-input type="number" [(ngModel)]="profileData.height.inches"></ion-input>
    </ion-item>
  </ion-list>
  <div padding class="login_button">
    <button primary_grediant ion-button round full icon-right (click)="saveProfileData()">Save
      <ion-icon name="send"></ion-icon>
    </button>
  </div>
</ion-content>
