<ion-header>
  <mvd-topheader [title]="type" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngIf="message">
      <ion-avatar item-left>
        <!--<img src="{{message.sender_image_url | defaultimage | async}}">-->
        <img src="{{message.sender_image_url}}" onError="this.src='assets/img/only_logo.png';">
      </ion-avatar>
      <h2>{{message.subject}}</h2>
      <p [innerHTML]="message.message"></p>
      <ion-note text-right item-right class="message-clock">
        <p>
          <ion-icon name="time"></ion-icon>
          {{message.added}}
        </p>
        <!--<button ion-button clear (click)="openCompose()">-->
          <!--<ion-icon name="undo"></ion-icon>-->
        <!--</button>-->
      </ion-note>
    </ion-item>
    <div *ngIf="replies">
      <ion-item class="reply" *ngFor="let reply of replies">
        <ion-avatar item-right>
          <!--<img src="{{reply.sender_image_url | defaultimage | async}}">-->
          <img src="{{reply.sender_image_url}}" onError="this.src='assets/img/only_logo.png';">
          <ion-badge color="dark">online</ion-badge>
        </ion-avatar>
        <h2>{{reply.sender_name}}</h2>
        <p [innerHTML]="reply.message"></p>
        <ion-note item-left class="message-clock">
          <p>
            <ion-icon name="time"></ion-icon>
            {{reply.added}}
          </p>
          <!--<button ion-button item-left clear>-->
            <!--<ion-icon name="redo"></ion-icon>-->
          <!--</button>-->
        </ion-note>
      </ion-item>
    </div>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="openCompose()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
