<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Other Data
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-auto-complete *ngIf="isOther" #searchBar [dataProvider]="medicationService"
                     [options]="{ placeholder : 'Search For Medicines', type: 'text' }" (itemSelected)="onInput($event)"></ion-auto-complete>
  <ion-list >
    <ion-item *ngIf="isOther" style="margin-top: 20px;">
      <ion-input type="text" [(ngModel)]="medication.name" readonly disabled placeholder="Medication"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Quantity (1 Pill)</ion-label>
      <ion-input type="text" [(ngModel)]="medication.dosage"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Frequency</ion-label>
      <ion-select [(ngModel)]="medication.frequency">
        <ion-option value="Once">Once</ion-option>
        <ion-option value="Twice">Twice</ion-option>
        <ion-option value="Three times">Three times</ion-option>
        <ion-option value="Four times">Four times</ion-option>
        <ion-option value="Five times">Five times</ion-option>
        <ion-option value="Six times">Six times</ion-option>
        <ion-option value="As Needed">As Needed</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Time</ion-label>
      <ion-select [(ngModel)]="medication.time">
        <ion-option value="Daily">Daily</ion-option>
        <ion-option value="Weekly">Weekly</ion-option>
        <ion-option value="Monthly">Monthly</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button item-right (click)="addData()">Done</button>
</ion-content>
