page-all-set {
    .toolbar-background-ios{
      background:none !important;
      border: 0px !important;
      box-shadow: 1px 4px 4px #ccc !important;
    }
    ion-footer, ion-header{
      background:#fff;
    }
    .wel-sec {
      background: #f9f6f6;
      text-align: center;

      img{
        width: 70%;
        margin-top: 30px;
      }
    }
    ion-footer {
      text-align: center;
      .welcome-text {
        text-align: center;
        p{
          font-size: 15px;
          line-height: 23px;
        }
        .assist-wel{
          img{
            width: 60%;
          }
        }
        .login_button {
          border-top: 1px solid #eaeaea;
        }
      }
    }

}
