<ion-header>
  <ion-navbar>
    <ion-title>You are all set!</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="wel-sec">

  <img src="assets/img/welcome-doc-end.png"/>
</ion-content>
<ion-footer>
  <ion-toolbar  class="welcome-text">
    <div padding class="assist-wel">
      <img src="assets/img/welcome-logo.png"/>
      <p>Your profile information is now up to date. You are now ready to start searching for your physician and schedule an appointment. Please click the button below to find your physician now.</p>
    </div>
    <div padding class="login_button">
      <button primary_grediant ion-button round full icon-right (click)="allSet()">FIND MY DOCTOR NOW!</button>
    </div>
  </ion-toolbar>
</ion-footer>
