<ion-header>
  <mvd-topheader title="SEARCH RESULT" isSearch="true" search_state="{{search_data.selected_state.name}}"
                 search_specialty="{{search_data.selected_specialty}}"
                 search_query="{{search_data.query}}" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <doctor-list *ngFor="let doctor of doctors" [doctor]="doctor" [tokenAndUserID]="tokenAndUserID"></doctor-list>
  </ion-list>
</ion-content>
