page-search-result {
  .toolbar-content{
    text-align: center;
    .button{
      padding: 0 7px;
      color: #343434;
      margin: 0;
      height: auto;
      span{
        font-size:12px;
        ion-icon{
          padding-right: 10px;
        }
      }
    }
  }
  .content{
    background:url(../assets/img/message-bg.jpg);

    ion-list{
      margin:10px 0 10px 10px;
    }
  }
}
