<ion-header>
  <ion-toolbar>
    <ion-title>
      Consultation Report
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <h2>Primary Concern</h2>
      <h3><p>{{reason || 'N/A'}}</p></h3>
    </ion-item>
    <ion-item>
      <h2>Secondary Concern</h2>
      <h3>
        <p [innerHTML]="appointment.notes || 'N/A'"></p>
      </h3>
    </ion-item>
    <ion-item>
      <h2>Subjective</h2>
      <h3>
        <p [innerHTML]="appointment.subjective || 'N/A'"></p>
      </h3>
    </ion-item>
    <ion-item>
      <h2>Objective</h2>
      <h3>
        <p [innerHTML]="appointment.objective || 'N/A'"></p>
      </h3>
    </ion-item>
    <ion-item>
      <h2>Assessment</h2>
      <h3>
        <p [innerHTML]="appointment.assessment || 'N/A'"></p>
      </h3>
    </ion-item>
    <ion-item>
      <h2>Plan</h2>
      <h3>
        <p [innerHTML]="appointment.plan || 'N/A'"></p>
      </h3>
    </ion-item>
  </ion-list>
</ion-content>
