<!--
  Generated template for the Signup page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-card class="login_img">
    <img src="assets/img/signup.jpg"/>
  </ion-card>
  <form (ngSubmit)="signupSubmit()">
    <ion-list>
      <ion-item class="login_field">
        <ion-label stacked>First Name
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="text" [(ngModel)]="userData.first_name" name="first_name" required></ion-input>
      </ion-item>
      <ion-item class="login_field">
        <ion-label stacked>Last Name
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="text" [(ngModel)]="userData.last_name" name="last_name" required></ion-input>
      </ion-item>
      <ion-item class="login_field">
        <ion-label stacked>Email Address
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="email" [(ngModel)]="userData.email" name="email" required></ion-input>
      </ion-item>
      <ion-item no-lines style="z-index: 999;" >
        <ion-label>
          I agree to My Virtual Doctor's
        </ion-label>
        <ion-checkbox [(ngModel)]="userData.agreed" name="agreed"></ion-checkbox>
      </ion-item>
      <ion-item no-lines style="top: -16px;" >
        <ion-label>
        <button type="button" purple text-button small>Terms of Use</button>
        <span style="font-weight: 300; font-size: 12px;">and</span>
        <button type="button" purple text-button small>Privacy Policy</button>
        </ion-label>
        <ion-checkbox class="dis-ion"></ion-checkbox>
      </ion-item>
    </ion-list>
    <div padding class="login_button">
      <button type="submit" primary_grediant ion-button round full icon-right>Sign Up!
        <ion-icon name="log-out"></ion-icon>
      </button>
      <p text-center>Already a member?
        <button type="button" purple text-button small (click)="openLoginPage()">Click here to Login Now</button>
      </p>
    </div>
  </form>
</ion-content>
