<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Other Data
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngIf="isOther">
      <ion-label color="primary" floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="surgery.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Years</ion-label>
      <ion-select [(ngModel)]="surgery.year">
        <ion-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button item-right (click)="addData()">Done</button>
</ion-content>
