<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit My Surgeries and Procedures
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Edit Surgery or Procedure</ion-label>
      <ion-input type="text" [(ngModel)]="condition_term"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Edit Year</ion-label>
      <ion-select [(ngModel)]="source">
        <ion-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button item-right (click)="changeSurgery()">Update</button>
</ion-content>
