<!--
  Generated template for the Myhealth page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-tabs *ngIf="activeNow" [selectedIndex]="autoSelected">
    <ion-tab tabIcon="heart" tabTitle="My Health" [root]="health" [rootParams]="isData"></ion-tab>
    <ion-tab tabIcon="medkit" tabTitle="Medications" [root]="medication" [rootParams]="isData"></ion-tab>
    <ion-tab tabIcon="thermometer" tabTitle="Allergies" [root]="allergies" [rootParams]="isData"></ion-tab>
    <ion-tab tabIcon="git-branch" tabTitle="Surgeries" [root]="surgeries" [rootParams]="isData"></ion-tab>
  </ion-tabs>
</ion-content>

