page-myhealth {

  ion-content {
    @import "../../theme/IpadStyle_text";
  }
  .content{
    ion-col{
      padding: 10px 12px;
      button{
        font-size:20px;
      }
    }
    .head{
       background: #103472;
       color: #fff;

       ion-col{
         padding: 8px;
       }
     }

    ion-list{
      margin:0 !important;

      ion-label{
        white-space: normal;
      }
      .health-btn{
        [ion-button]{
          height: auto !important;
          padding: 12px;
          width: 41px;
          background-color: #7b0b57;
        }
      }
      .health-cond{
        background: #b70e81;
        button[ion-button][clear][round] {
          border: 1px solid !important;
          border-radius: 100% !important;
          height: 40px !important;
          width: 40px;
          background-color: transparent !important;
          color: #fff;
        }
        button[ion-button][clear][round].active {
          border: 0 !important;
          background-color: #0f56a4 !important;
        }
        h2{
          color:#fff;
        }
        ion-label{
          color:#fff;
          opacity: 1;
        }
        p{
          color:#fff;
        }
      }

    }
  }

}
