<ion-header>
  <mvd-topheader title="My Health" [allergiesNested]="false" [data]="tokenAndUserID.data"></mvd-topheader>
  <ion-list>
    <ion-item class="health-cond">
      <h3>My Allergies</h3>
      <div item-right>
        <button ion-button round clear [class]="(is_allergies === true) ? 'active' : ''"
                (click)="changeIsAlleries(true)">Yes
        </button>
        <button ion-button round clear [class]="(is_allergies === false) ? 'active' : ''"
                (click)="changeIsAlleries(false)">No
        </button>
      </div>
      <!--<ion-label>My Allergies</ion-label>-->
      <!--<ion-toggle [(ngModel)]="is_allergies" checked="{{is_allergies}}" (ionChange)="changeIsAlleries()"></ion-toggle>-->
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-fab *ngIf="is_allergies" bottom right>
    <button ion-fab color="red_violet" (click)="openAdd()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngIf="is_allergies">
    <ion-item *ngIf="allergyData.length <= 0">
      <h3>No allergies reported</h3>
    </ion-item>
    <ion-item *ngFor="let item of allergyData; let i = index">
      <h2>{{item.condition_term}}</h2>
      <h3>{{item.severity}} - {{item.reaction}} ({{item.date}})</h3>
      <button ion-button clear item-right (click)="openEdit(i)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button clear item-right (click)="removeDialog(i)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
