<ion-header>
  <mvd-topheader [title]="title" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="login_field">
      <ion-label stacked>{{(doctors.length > 1) ? 'Recipients' : 'Recipient'}}
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-select [(ngModel)]="formData.recipient">
        <ion-option *ngFor="let doctor of doctors; let i = index" value="{{i}}">{{doctor.firstname}} {{doctor.lastname}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Subject
        <ion-icon name="create"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="Enter a subject" [(ngModel)]="formData.subject" [disabled]="isSubjectPass"></ion-input>
    </ion-item>
    <ion-item class="login_field">
      <ion-label stacked>Message
        <ion-icon name="create"></ion-icon>
      </ion-label>
      <ion-textarea placeholder="Enter a message" [(ngModel)]="formData.message"></ion-textarea>
    </ion-item>
    <div padding class="login_button">
      <button primary_grediant ion-button round full icon-right (click)="sendMessage()">Send Now!
        <ion-icon name="send"></ion-icon>
      </button>
    </div>
  </ion-list>
</ion-content>
