page-file-share {
  ion-list{
    margin:0 !important;

    ion-label{
      white-space: normal;
    }
    .health-btn{
      [ion-button]{
        height: auto !important;
        padding: 12px;
        width: 41px;
        background-color: #7b0b57;
      }
    }
    .health-cond{
      background: #b70e81;
      h2{
        color:#fff;
      }
      p{
        color:#fff;
      }
    }

  }
  .content{
    ion-col{
      padding: 10px 12px;
      word-break: break-word;
    }
    [ion-button]{
      margin:0 !important;
      height: auto;
      padding: 0 5px;
      color: #103472;
      ion-icon{
        font-size:22px;
      }
    }
  }
  .head{
    background: #b70e81;
    color: #fff;

    ion-col{
      padding: 8px;
    }
  }
  ion-footer{
    ion-item{
      background:none !important;
      border-top:0 !important;
    }
  }
  .myfile_head{
    padding:0 !important;
    min-height:auto !important;
  }
}
