<ion-header>
  <mvd-topheader title="SHARING" isMyFilesShare="true" [data]="tokenAndUserID.data"></mvd-topheader>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="sharedFiles.length > 0">
    <ion-row *ngFor="let file of sharedFiles; let i = index">
      <ion-col width-40>
        {{file.shared_with}}
      </ion-col>
      <ion-col width-30 text-center>
        {{file.date_time}}
      </ion-col>
      <ion-col width-20 text-right>
        <button ion-button clear>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="sharedFiles.length <= 0">
    <ion-row>
      <ion-col>
        Shared with no one
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-label>Share with Doctor:</ion-label>
      <ion-select [(ngModel)]="doctorIndex">
        <ion-option *ngFor="let doctor of doctors; let i = index" value="{{i}}">{{doctor.firstname}}
          {{doctor.lastname}}
        </ion-option>
      </ion-select>
      <button ion-button item-right small round icon-only (click)="share()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
