<ion-header>
  <ion-navbar [hideBackButton]="true">
    <!--<ion-title>Allergies ( 4/5 )</ion-title>-->
    <ion-title>Allergies</ion-title>
  </ion-navbar>
  <ion-list>
    <ion-item class="health-cond">
      <h2>Do you have any allergies?</h2>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content class="wel-sec">
  <ion-grid>
    <div>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label class="bold-lable"><b>I do not have any allergies</b></ion-label>
            <ion-toggle [(ngModel)]="isAllergies" (ionChange)="updateIsAllergies()"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!isMedication">
      <ion-row>
        <ion-col col-12>
          <p class="blue-color">Please check any medications Nick Plocekk is allergic to:</p>
        </ion-col>
        <ion-col col-12 *ngFor="let allergy of allergiesData; let i = index;">
          <ion-item no-lines>
            <ion-label>{{allergy.name}}
              <div *ngIf="allergy.isChecked">
                <small col-6 style="padding-left: 0;">Symptom: <b>{{allergy.symptom}}</b></small>
                <small col-6>Reaction: <b>{{allergy.reaction}}</b></small>
              </div>
            </ion-label>
            <ion-checkbox [(ngModel)]="allergy.isChecked" (ionChange)="openOtherFieldsModal(i)"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-checkbox [(ngModel)]="isOther" (click)="openOtherFieldsModalForOtherData()"></ion-checkbox>
        </ion-item>
      </ion-col>
      <!--<ion-col col-8 *ngIf="isOther">-->
      <!--<ion-item>-->
      <!--<ion-input type="text" [(ngModel)]="otherFields[0].name" [readonly]="true"-->
      <!--placeholder="Other Allergy Here" (click)="openOtherFieldsModalForOtherData(0)"></ion-input>-->
      <!--<button *ngIf="otherFields[0].name.trim().length > 0" item-right ion-button icon-only clear-->
      <!--(click)="addMoreOtherFields()">-->
      <!--<ion-icon name="add"></ion-icon>-->
      <!--</button>-->
      <!--</ion-item>-->
      <!--</ion-col>-->
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar class="welcome-text">
    <div padding class="login_button">
      <button primary_grediant ion-button round full icon-right (click)="addBunchAllergies()">CONTINUE</button>
    </div>
  </ion-toolbar>
</ion-footer>
