appointment-upcoming {
  .appoint-date{
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 100%;
    width: 69px !important;
    height: 69px !important;
    padding: 5px;
    h2{
      padding:0;
      margin: 0px 0px -5px;
    }
    small{
      font-size:10px;
    }
  } .content ion-list ion-item.active ion-note{
      width: 60% !important;
    }
  .content{
    ion-item{
      ion-label{
        small{
          display:block
        }
      }
    }

  }

}
