page-video {
  ion-content {
    background-color: #000 !important;

    #videos {
      position: relative;
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;

      header {
        z-index: 99999999;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        .toolbar-title {
          color: #fff !important;
        }
        #timer {
          color: #FFFFFF;
        }
      }

      #subscriber {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
      #publisher {
        position: absolute;
        width: 110px;
        height: 110px;
        bottom: 80px;
        right: 10px;
        z-index: 100;
        border: 2px solid white;
        border-radius: 100%;
        overflow: hidden;
      }

      ion-fab {
        position: relative !important;
        display: block;
        button {
          display: inline-block !important;
          margin: 10px;
        }
      }

    }
  }
}
