<ion-content>
  <div id="videos">
    <header>
      <ion-title text-center>Adam Nadler</ion-title>
      <div id="timer" text-center>{{formatedTime}}</div>
    </header>
    <div id="subscriber"></div>
    <div id="publisher"></div>
    <ion-footer>
      <ion-fab text-center>
        <button ion-fab (click)="toggleMic()">
          <ion-icon [name]="mic"></ion-icon>
        </button>
        <button ion-fab (click)="toggleCamera()">
          <ion-icon name="reverse-camera"></ion-icon>
        </button>
        <button ion-fab (click)="toggleVol()">
          <ion-icon [name]="volume"></ion-icon>
        </button>
      </ion-fab>
    </ion-footer>
  </div>
</ion-content>
