page-faq {

  ion-list{
    margin:0 !important;
    .login_field{
        background: #b70e81 !important;
        color: #fff !important;
    }
    ion-item{
      .item-inner{
        border:0 !important;
      }

    }


  }
  .faq_list{
    ion-item{
      border-bottom:1px solid #ccc;
      ion-icon{
        color: #b70e81 !important;
        font-size: 2.1rem;
        padding-top: 3px;
        margin-right: 5px !important;
      }
    }
  }
  .searchfaq{
    color:#fff;
  }
  .searchfaq input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  .searchfaq input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  .searchfaq input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  .searchfaq input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
}

