<!--
  Generated template for the Faq page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <mvd-topheader title="FAQ"></mvd-topheader>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item class="login_field">
      <ion-label stacked>Search Now
      </ion-label>
      <ion-input type="text"  class='searchfaq' placeholder="Find your Question"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list class="faq_list">
    <ion-item (click)="openFAQdetails()">
      What is My Virtual Doctor?
      <ion-icon name="add-circle" item-left></ion-icon>
    </ion-item>
    <ion-item>
      When are doctors available?
      <ion-icon name="add-circle" item-left></ion-icon>
    </ion-item>
    <ion-item>
      Where is My Virtual Doctor available?
      <ion-icon name="add-circle" item-left></ion-icon>
    </ion-item>
    <ion-item>
      When can I start using My Virtual Doctor?
      <ion-icon name="add-circle" item-left></ion-icon>
    </ion-item>
    <ion-item>
      Can I use My Virtual Doctor for medical emergencies?
      <ion-icon name="add-circle" item-left></ion-icon>
    </ion-item>
    <ion-item>
      What can I expect during an online visit?
      <ion-icon name="add-circle" item-left></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
