<!--
  Generated template for the Faq page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar subheader>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-item>
          <ion-avatar item-left>
            <img src="../assets/img/profile.jpg">
          </ion-avatar>
          <div class="progressbar">
            <span class="progress"  style="width:50%"></span>
          </div>
          <small>Hint: Please complete My Health allergies</small>
        </ion-item>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only icon-notification>
        <ion-icon name="mail">
          <ion-badge color="pink">5</ion-badge>
        </ion-icon>
      </button>
      <button ion-button icon-only icon-notification>
        <ion-icon name="notifications">
          <ion-badge color="pink">5</ion-badge>
        </ion-icon>
      </button>
      <button ion-button icon-only icon-search (click)="presentPopover($event)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item class="faq_details">
      What is My Virtual Doctor?
      <p>My Virtual Doctor is a telehealth platform that gives you access to board-certified medical professionals via live video, chat, and phone. Our doctors are able to diagnose your symptoms, prescribe treatment, and electronically send prescriptions directly to your preferred pharmacy. Obtaining care from the comfort of your own home, at work, or on the go has never been easier or more convenient.</p>
    </ion-item>
  </ion-list>
</ion-content>
